<div class="authenticationlaclogin-1-120" name="Authentication@LAC Login">
 <img class="vector-1-121" src="assets/images/Authentication/lac-login/vector-1_121.svg"/>
 <div class="group-1-144" name="Group">
  <div class="group-1-145" name="Group">
  </div>
  <div class="group-1-146" name="Group">
   <input class="text-1-147" placeholder="Email" type="text"/>
   <input class="text-1-151" placeholder="Password" type="text"/>
   <button class="btn-1-155" type="button">
    SIGN IN
   </button>
   <label class="text-1-158" type="text" value="Forgot Email or Password?">
    Forgot Email or Password?
   </label>
   <label class="text-1-159" type="text" value="Remember me">
    Remember me
   </label>
   <label class="text-1-160" type="text" value="Sign in">
    Sign in
   </label>
   <label class="text-1-161" type="text" value="Stay updated on your AI application">
    Stay updated on your AI application
   </label>
  </div>
  <div class="checkbox-1-162">
   <lib-quick-radiocheck [config]="checkboxconfig1162">
   </lib-quick-radiocheck>
  </div>
 </div>
 <img class="vector-1-165" src="assets/images/Authentication/lac-login/vector-1_165.svg"/>
 <img class="img-1-182" src="assets/images/Authentication/lac-login/img-1_182.png"/>
 <label class="text-1-183" type="text" value="About Us">
  About Us
 </label>
 <label class="text-1-184" type="text" value="Powerted By">
  Powerted By
 </label>
 <img class="vector-1-185" src="assets/images/Authentication/lac-login/vector-1_185.svg"/>
 <label class="text-1-190" type="text" value="Contact">
  Contact
 </label>
 <label class="text-1-191" type="text" value="login">
  login
 </label>
 <label class="text-1-192" type="text" value="ALIGNED aI APPLICATIONS">
  ALIGNED aI APPLICATIONS
 </label>
 <label class="text-1-193" type="text" value="©2022 LogicPlum,Inc. All rights reserved.">
  ©2022 LogicPlum,Inc. All rights reserved.
 </label>
</div>
