

.modulesreportpage-1-15258{
position:'' ;width: 100%; height: auto;  background-color: rgba(255,255,255,1.0);top:0px; left: 0;background:''}

.group-1-15629{
position:absolute ;width: 1440.0px; height: 80.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.vector-1-15630{
position: absolute;left: 0.0px; top: 0.0px; width: 1440.0px; height: 80.0}

.group-1-15631{
position:absolute ;width: 150.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:23px; left: 1214px;background:''}

.group-1-15632{
position:absolute ;width: 75.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-15633{
position:absolute ;width: 75.0px; height: 34.0px;  background-color: rgba(0,184,149,1.0);top:0px; left: 0px;background:''}

.text-1-15634{
position: absolute;
left: 22.0px;
 top: 11.0px;
 width: 31.0px;
 height: 13.0px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.group-1-15635{
position:absolute ;width: 75.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 75px;background:''}

.group-1-15636{
position:absolute ;width: 75.0px; height: 34.0px;  background-color: rgba(248,248,248,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.text-1-15637{
position: absolute;
left: 23.0px;
 top: 11.0px;
 width: 30.0px;
 height: 13.0px;
font-size: 10.0px; color: rgba(0, 0, 0, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.vector-1-15638{
position: absolute;left: 16.0px; top: 20.0px; width: 128.761962890625px; height: 40.0}

.group-1-15656{
position:absolute ;width: 1.0px; height: 54.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 162px;background:''}

.vector-1-15657{
position: absolute;left: 0.0px; top: 0.0px; width: 1.0px; height: 54.0}

.group-1-15658{
position:absolute ;width: 34.0px; height: 34.0px;  background-color: rgba(255,255,255,1.0);top:23px; left: 1383px;background:''}

.img-1-15659{
position: absolute;left: 0.0px; top: -2.956512451171875px; width: 37.69580078125px; height: 36.956512451171875px;}

.group-1-15661{
position:absolute ;width: 241.0px; height: 32.0px;  background-color: rgba(0,0,0,0.0);top:25px; left: 171px;background:''}

.vector-1-15662{
position: absolute;left: 0.0px; top: 0.0px; width: 241.0px; height: 32.0}

.vector-1-15672{
position: absolute;left: 118.0px; top: 11.0px; width: 12.0px; height: 12.0}

.text-1-15674{
position: absolute;
left: 134.0px;
 top: 6.0px;
 width: 103.0px;
 height: 20.0px;
font-size: 13.0px; color: rgba(20, 26, 33, 1.0); font-family: Poppins; font-weight: 500;
}

.group-1-15675{
position:absolute ;width: 449.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:23px; left: calc( ( ( 100% - 1440px) / 2 ) + 740px);background:''}

.text-1-15676{
position: absolute;
border-radius: 2.0px;border:none;left: 65.0px;
 top: 0.0px;
 width: 384.0px;
 height: 34.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.vector-1-15679{
position: absolute;left: 423.0px; top: 9.87890625px; width: 15.0px; height: 15.0}

.vector-1-15683{
position: absolute;left: 0.0px; top: 0.0px; width: 67.0px; height: 34.0}

.group-1-15603{
position:absolute ;width: 1440.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:77px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-1-15604{
position:absolute ;width: 1440.0px; height: 40.0px;  background-color: '';top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.10000000149011612);border-style:solid;background:''}

.vector-1-15605{
position: absolute;left: 16.0px; top: 5.5px; width: 34.0px; height: 30.0}

.vector-1-15610{
position: relative; width: 21.0px; height: 22.0}

.btn-1-15607{
position: absolute;
left: 56.0px;
 top: 6.0px;
 width: 165.0px;
 height: 30.0px;
border-radius: 2.0px; background-color: rgba(46, 79, 139, 1.0);
 cursor: pointer;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Hind Siliguri; text-transform: uppercase; font-weight: 400;
}

.group-1-15612{
position:absolute ;width: 188.4560546875px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:5px; left: 1220px;background:''}

.vector-1-15613{
position: absolute;left: 39.087890625px; top: 0.0px; width: 33.54443359375px; height: 30.0}

.vector-1-15616{
position: absolute;left: 77.6318359375px; top: 0.0px; width: 33.54443359375px; height: 30.0}

.vector-1-15619{
position: absolute;left: 0.5439453125px; top: 0.0px; width: 33.54443359375px; height: 30.0}

.vector-1-15623{
position: absolute;left: 116.17578125px; top: 0.0px; width: 34.0px; height: 30.0}

.vector-1-15626{
position: absolute;left: 155.0px; top: 0.0px; width: 34.0px; height: 30.0}

.group-1-15526{
position:absolute ;width: 928.0px; height: 529.0px;  background-color: rgba(0,0,0,0.0);top:121px; left: calc( ( ( 100% - 1440px) / 2 ) + 16px);background:''}

.group-1-15527{
position:absolute ;width: 928.0px; height: 529.0px;  background-color: '';top:0px; left: 0px;background:linear-gradient(180.0deg, rgba(0, 184, 148, 0.09000000357627869) 0.0%, rgba(0, 184, 148, 0.09000000357627869) 100.0%)}

.group-1-15528{
position:absolute ;width: 62.0px; height: 18.0px;  background-color: rgba(0,0,0,0.0);top:100px; left: 479px;background:''}

.group-1-15529{
position:absolute ;width: 61.0px; height: 18.0px;  background-color: rgba(24,156,216,0.20000000298023224);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-1-15530{
position:absolute ;width: 47.0px; height: 13.0px;  background-color: rgba(0,0,0,0.0);top:3px; left: 9px;background:''}

.text-1-15531{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 47.0px;
 height: 13.0px;
font-size: 7.0px; color: rgba(24, 156, 216, 1.0); font-family: Poppins; font-weight: 700;
}

.group-1-15532{
position:absolute ;width: 33.0px; height: 18.0px;  background-color: rgba(0,0,0,0.0);top:55px; left: 508px;background:''}

.group-1-15533{
position:absolute ;width: 32.0px; height: 18.0px;  background-color: rgba(220,175,16,0.20000000298023224);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-1-15534{
position:absolute ;width: 17.0px; height: 13.0px;  background-color: rgba(0,0,0,0.0);top:3px; left: 9px;background:''}

.text-1-15535{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 17.0px;
 height: 13.0px;
font-size: 7.0px; color: rgba(220, 175, 16, 1.0); font-family: Poppins; font-weight: 700;
}

.group-1-15536{
position:absolute ;width: 52.0px; height: 18.0px;  background-color: rgba(0,0,0,0.0);top:77px; left: 488px;background:''}

.group-1-15537{
position:absolute ;width: 52.0px; height: 18.0px;  background-color: rgba(151,71,255,0.20000000298023224);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-1-15538{
position:absolute ;width: 37.0px; height: 13.0px;  background-color: rgba(0,0,0,0.0);top:3px; left: 9px;background:''}

.text-1-15539{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 37.0px;
 height: 13.0px;
font-size: 7.0px; color: rgba(151, 71, 255, 1.0); font-family: Poppins; font-weight: 700;
}

.group-1-15540{
position:absolute ;width: 206.0px; height: 32.0px;  background-color: rgba(0,0,0,0.0);top:85px; left: 27px;border-radius: 1.7999999523162842px;background:''}

.group-1-15541{
position:absolute ;width: 206.0px; height: 32.0px;  background-color: rgba(0,184,149,0.20000000298023224);top:0px; left: 0px;border-radius: 1.7999999523162842px;background:''}

.group-1-15542{
position:absolute ;width: 186.484130859375px; height: 21.7283935546875px;  background-color: rgba(0,0,0,0.0);top:6px; left: 19px;background:''}

.text-1-15543{
position: absolute;
left: 0.515869140625px;
 top: -0.666748046875px;
 width: 186.484130859375px;
 height: 21.7283935546875px;
font-size: 16.0px; color: rgba(0, 184, 149, 1.0); font-family: Poppins; font-weight: 600;
}

.text-1-15544{
position: absolute;
left: 27.0px;
 top: 47.0px;
 width: 277.0px;
 height: 13.0px;
font-size: 32.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.vector-1-15545{
position: absolute;left: 27.0px; top: 124.0px; width: 895.0px; height: 1.0}

.group-1-15546{
position:absolute ;width: 895.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:133px; left: 27px;border-radius: 2.0px;background:''}

.group-1-15547{
position:absolute ;width: 895.0px; height: 30.0px;  background-color: rgba(31,74,140,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-1-15548{
position: absolute;
left: 298.0px;
 top: 9.0px;
 width: 300.0px;
 height: 13.0px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Poppins; font-weight: 600;
}

.group-1-15549{
position:absolute ;width: 379.0px; height: 506.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 543px;background:''}

.group-1-15550{
position:absolute ;width: 378.0px; height: 108.0px;  background-color: '';top:0px; left: 1px;background:linear-gradient(180.0deg, rgba(89, 107, 136, 0.10000000149011612) 0.0%, rgba(0, 99, 252, 0.10000000149011612) 100.0%)}

.vector-1-15551{
position: absolute;left: 21.0px; top: 25.0px; width: 60.0px; height: 60.0}

.text-1-15553{
position: absolute;
left: 170.0px;
 top: 75.0px;
 width: 184.0px;
 height: 24.0px;
font-size: 18.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 400;
}

.group-1-15554{
position:absolute ;width: 155.0px; height: 178.9996337890625px;  background-color: rgba(0,0,0,0.0);top:149px; left: 0px;background:''}

.text-1-15555{
position: absolute;
left: 56.3037109375px;
 top: 65.64338684082031px;
 width: 39.74365234375px;
 height: 21.11475372314453px;
font-size: 20.539535522460938px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.vector-1-15556{
position: absolute;left: 0.0px; top: -0.9996795654296875px; width: 155.0px; height: 154.4016571044922}

.text-1-15561{
position: absolute;
left: 31.0px;
 top: 164.9999542236328px;
 width: 94.0px;
 height: 13.0px;
font-size: 13.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 400;
}

.text-1-15562{
position: absolute;
left: 10.00048828125px;
 top: 147.06253051757812px;
 width: 135.534912109375px;
 height: 12.9375px;
font-size: 15.40465259552002px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.group-1-15563{
position:absolute ;width: 155.0px; height: 178.999755859375px;  background-color: rgba(0,0,0,0.0);top:149px; left: 199px;background:''}

.vector-1-15564{
position: absolute;left: 0.0px; top: -0.999755859375px; width: 155.0px; height: 154.4016571044922}

.text-1-15569{
position: absolute;
left: 56.3037109375px;
 top: 65.643310546875px;
 width: 39.74365234375px;
 height: 21.11475372314453px;
font-size: 20.539535522460938px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.text-1-15570{
position: absolute;
left: 31.0px;
 top: 165.0px;
 width: 94.0px;
 height: 13.0px;
font-size: 13.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 400;
}

.text-1-15571{
position: absolute;
left: 10.00048828125px;
 top: 147.0624542236328px;
 width: 135.534912109375px;
 height: 12.9375px;
font-size: 15.40465259552002px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.group-1-15572{
position:absolute ;width: 155.0px; height: 178.99961853027344px;  background-color: rgba(0,0,0,0.0);top:327px; left: 0px;background:''}

.vector-1-15573{
position: absolute;left: 0.0px; top: 0.000335693359375px; width: 155.0px; height: 154.4016571044922}

.text-1-15578{
position: absolute;
left: 56.3037109375px;
 top: 66.64340209960938px;
 width: 39.74365234375px;
 height: 21.11475372314453px;
font-size: 20.539535522460938px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.text-1-15579{
position: absolute;
left: 29.0px;
 top: 165.9999542236328px;
 width: 94.0px;
 height: 13.0px;
font-size: 13.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 400;
}

.text-1-15580{
position: absolute;
left: 10.00048828125px;
 top: 148.06251525878906px;
 width: 135.534912109375px;
 height: 12.9375px;
font-size: 15.40465259552002px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.group-1-15581{
position:absolute ;width: 155.0px; height: 178.9996337890625px;  background-color: rgba(0,0,0,0.0);top:327px; left: 199px;background:''}

.text-1-15582{
position: absolute;
left: 56.3037109375px;
 top: 66.64340209960938px;
 width: 39.74365234375px;
 height: 21.11475372314453px;
font-size: 20.539535522460938px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.vector-1-15583{
position: absolute;left: 0.0px; top: 0.000335693359375px; width: 155.0px; height: 154.4016571044922}

.text-1-15588{
position: absolute;
left: 10.00048828125px;
 top: 148.06259155273438px;
 width: 135.534912109375px;
 height: 12.9375px;
font-size: 15.40465259552002px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.text-1-15589{
position: absolute;
left: 32.0px;
 top: 165.99996948242188px;
 width: 94.0px;
 height: 13.0px;
font-size: 13.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 400;
}

.text-1-15590{
position: absolute;
left: 96.0px;
 top: 35.0px;
 width: 262.017578125px;
 height: 30.857147216796875px;
font-size: 31.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.group-1-15591{
position:absolute ;width: 437.0px; height: 325.0px;  background-color: rgba(255,255,255,1.0);top:184px; left: 27px;background:''}

.img-1-15592{
position: absolute;left: 0.0px; top: 0.0px; width: 437.0px; height: 325.0px;}

.vector-1-15593{
position: absolute;left: 27.0px; top: 333.0px; width: 30.0px; height: 37.0}

.vector-1-15595{
position: absolute;left: 434.0px; top: 333.0px; width: 30.0px; height: 37.0}

.vector-1-15597{
position: absolute;left: 434.0px; top: 479.0px; width: 19.0px; height: 19.0}

.img-1-15599{
position: absolute;left: 951.0px; top: 117.0px; width: 464.0px; height: 533.0px;}

.group-1-15600{
position:absolute ;width: 58.0px; height: 58.0px;  background-color: rgba(0,0,0,0.0);top:289px; left: calc( ( ( 100% - 1440px) / 2 ) + 1198px);background:''}

.group-1-15601{
position:absolute ;width: 58.0px; height: 58.0px;  background-color: rgba(143,161,224,1.0);top:0px; left: 0px;border-radius: 50%;background:''}

.group-1-15602{
position:absolute ;width: 7.0px; height: 7.0px;  background-color: rgba(31,74,140,0.7699999809265137);top:26px; left: 25px;border-radius: 50%;background:''}

.group-1-15473{
position:absolute ;width: 1399.0px; height: 229.0px;  background-color: rgba(0,0,0,0.0);top:672px; left: calc( ( ( 100% - 1440px) / 2 ) + 16px);background:''}

.group-1-15474{
position:absolute ;width: 1399.0px; height: 229.0px;  background-color: rgba(0,184,149,0.09000000357627869);top:0px; left: 0px;border-color:rgba(0, 184, 149, 0.09000000357627869);border-style:solid;background:''}

.text-1-15475{
position: absolute;
left: 26.0px;
 top: 30.0px;
 width: 159.0px;
 height: 13.0px;
font-size: 18.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 500;
}

.vector-1-15476{
position: absolute;left: 27.0px; top: 57.0px; width: 1256.0px; height: 2.0}

.group-1-15477{
position:absolute ;width: 163.033935546875px; height: 117.0px;  background-color: rgba(0,0,0,0.0);top:84px; left: 195px;background:''}

.text-1-15478{
position: absolute;
left: 0.0px;
 top: 34.93670654296875px;
 width: 163.033935546875px;
 height: 24.31170654296875px;
font-size: 20.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.text-1-15479{
position: absolute;
left: 55.68798828125px;
 top: 70.637939453125px;
 width: 51.0px;
 height: 19.0px;
font-size: 12.0px; color: rgba(31, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 500;
}

.vector-1-15480{
position: absolute;left: 38.0px; top: 74.0px; width: 13.0px; height: 13.0}

.vector-1-15495{
position: absolute;left: 0.0px; top: 0.0px; width: 163.0px; height: 117.0}

.group-1-15501{
position:absolute ;width: 163.033935546875px; height: 117.0px;  background-color: rgba(0,0,0,0.0);top:84px; left: 867px;background:''}

.text-1-15502{
position: absolute;
left: 0.0px;
 top: 34.93670654296875px;
 width: 163.033935546875px;
 height: 24.31170654296875px;
font-size: 20.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.text-1-15503{
position: absolute;
left: 50.68798828125px;
 top: 70.637939453125px;
 width: 73.0px;
 height: 19.0px;
font-size: 12.0px; color: rgba(31, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 500;
}

.vector-1-15504{
position: absolute;left: 34.0px; top: 73.0px; width: 13.0px; height: 13.0}

.vector-1-15506{
position: absolute;left: 0.0px; top: 0.0px; width: 163.0px; height: 117.0}

.group-1-15512{
position:absolute ;width: 163.033935546875px; height: 117.0px;  background-color: rgba(0,0,0,0.0);top:84px; left: 1203px;background:''}

.text-1-15513{
position: absolute;
left: 46.68798828125px;
 top: 70.637939453125px;
 width: 69.0px;
 height: 19.0px;
font-size: 12.0px; color: rgba(31, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 500;
}

.text-1-15514{
position: absolute;
left: 0.0px;
 top: 34.93670654296875px;
 width: 163.033935546875px;
 height: 24.31170654296875px;
font-size: 20.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.vector-1-15515{
position: absolute;left: 30.0px; top: 74.0px; width: 13.0px; height: 13.0}

.vector-1-15517{
position: absolute;left: 0.0px; top: 0.0px; width: 163.0px; height: 117.0}

.vector-1-15523{
position: absolute;left: 1371.0px; top: 30.0px; width: 16.0px; height: 16.0}

.group-1-15414{
position:absolute ;width: 1396.0px; height: 258.0px;  background-color: rgba(0,0,0,0.0);top:923px; left: calc( ( ( 100% - 1440px) / 2 ) + 16px);background:''}

.group-1-15415{
position:absolute ;width: 1396.0px; height: 258.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-15416{
position:absolute ;width: 1396.0px; height: 258.0px;  background-color: rgba(31,74,140,0.10000000149011612);top:0px; left: 0px;background:''}

.group-1-15417{
position:absolute ;width: 1353.989990234375px; height: 140.0px;  background-color: rgba(0,0,0,0.0);top:42px; left: 26px;background:''}

.text-1-15418{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 243.0px;
 height: 13.0px;
font-size: 18.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 500;
}

.vector-1-15419{
position: absolute;left: 1.0px; top: 28.0px; width: 1236.0px; height: 2.0}

.table-1-15420{
position: absolute;left: 16.0px; top: 57.0px; width: 1337.989990234375px;}

.th-1-15422{
position: realtive;text-align: left;width: 222.991943359375px; height: 39.30438232421875px;}

.td-1-15447{
position: realtive;text-align: left;width: 222.989990234375px;}

.group-1-15286{
position:absolute ;width: 1395.0px; height: 280.0px;  background-color: rgba(0,0,0,0.0);top:1203px; left: calc( ( ( 100% - 1440px) / 2 ) + 17px);background:''}

.group-1-15287{
position:absolute ;width: 1395.0px; height: 280.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-15288{
position:absolute ;width: 1395.0px; height: 280.0px;  background-color: rgba(0,184,149,0.09000000357627869);top:0px; left: 0px;background:''}

.vector-1-15289{
position: absolute;left: 27.5px; top: 55.0px; width: 1233.0px; height: 1}

.text-1-15290{
position: absolute;
left: 26.5px;
 top: 28.0px;
 width: 177.0px;
 height: 13.0px;
font-size: 18.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 500;
}

.table-1-15291{
position: absolute;left: 42.2919921875px; top: 78.0px; width: 414.1826171875px;}

.th-1-15293{
position: realtive;text-align: left;width: 201.26220703125px; height: 43.77960205078125px;}

.td-1-15302{
position: realtive;text-align: left;width: 216.40380859375px;}

.text-1-15319{
position: absolute;
left: 481.5px;
 top: 28.0px;
 width: 131.0px;
 height: 13.0px;
font-size: 18.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 500;
}

.table-1-15320{
position: absolute;left: 499.670166015625px; top: 78.0px; width: 412.829833984375px;}

.th-1-15322{
position: realtive;text-align: left;width: 201.26220703125px; height: 43.77960205078125px;}

.td-1-15331{
position: realtive;text-align: left;width: 215.697021484375px;}

.text-1-15357{
position: absolute;
left: 938.5px;
 top: 28.0px;
 width: 210.0px;
 height: 13.0px;
font-size: 18.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 500;
}

.table-1-15358{
position: absolute;left: 954.0556640625px; top: 78.0px; width: 403.4443359375px;}

.th-1-15360{
position: realtive;text-align: left;width: 162.078857421875px; height: 44.0px;}

.td-1-15373{
position: realtive;text-align: left;width: 138.10009765625px;}

.vector-1-15411{
position: absolute;left: 1372.5px; top: 35.0px; width: 15.941650390625px; height: 16.0}

.vector-1-15285{
position: absolute;left: 1.0px; top: 1526.0px; width: 1441.5px; height: 1}

.group-1-15259{
position:absolute ;width: 1371.0px; height: 594.0px;  background-color: rgba(0,0,0,0.0);top:1542px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-1-15260{
position:absolute ;width: 1360.0px; height: 538.0px;  background-color: '';top:56px; left: 11px;border-radius: 3.0px;border-color:rgba(46, 79, 139, 0.4000000059604645);border-style:solid;background:''}

.group-1-15261{
position:absolute ;width: 489.0px; height: 449.98388671875px;  background-color: rgba(0,0,0,0.0);top:72px; left: 438px;background:''}

.vector-1-15262{
position: absolute;left: 40.968017578125px; top: 64.502685546875px; width: 406.192626953125px; height: 312.4892578125}

.vector-1-15263{
position: absolute;left: 149.053466796875px; top: 161.2567138671875px; width: 153.411865234375px; height: 153.4117431640625}

.img-1-15264{
position: absolute;left: 132.626953125px; top: 144.5145263671875px; width: 186.74609375px; height: 185.746337890625px;}

.vector-1-15265{
position: absolute;left: 269.34228515625px; top: 341.6898193359375px; width: 76.705810546875px; height: 76.7059326171875}

.vector-1-15266{
position: absolute;left: 42.711181640625px; top: 298.10693359375px; width: 122.031982421875px; height: 122.0321044921875}

.vector-1-15267{
position: absolute;left: 103.727294921875px; top: 0.0px; width: 122.031982421875px; height: 122.0321044921875}

.vector-1-15268{
position: absolute;left: 283.288818359375px; top: 77.5775146484375px; width: 83.67919921875px; height: 83.67919921875}

.vector-1-15269{
position: absolute;left: 0.0px; top: 161.2567138671875px; width: 83.67919921875px; height: 83.67919921875}

.vector-1-15270{
position: absolute;left: 405.32080078125px; top: 179.5615234375px; width: 83.67919921875px; height: 83.67919921875}

.text-1-15271{
position: absolute;
left: 132.978515625px;
 top: 128.1336669921875px;
 width: 59.0px;
 height: 22.0px;
font-size: 10.0px; color: rgba(148, 34, 34, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.text-1-15272{
position: absolute;
left: 81.67919921875px;
 top: 427.98388671875px;
 width: 38.0px;
 height: 22.0px;
font-size: 10.0px; color: rgba(7, 94, 121, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.text-1-15273{
position: absolute;
left: 278.54541015625px;
 top: 427.98388671875px;
 width: 59.0px;
 height: 22.0px;
font-size: 10.0px; color: rgba(32, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.text-1-15274{
position: absolute;
left: 11.818115234375px;
 top: 251.9090576171875px;
 width: 59.0px;
 height: 22.0px;
font-size: 10.0px; color: rgba(48, 9, 130, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.text-1-15275{
position: absolute;
left: 300.46533203125px;
 top: 163.8717041015625px;
 width: 49.0px;
 height: 22.0px;
font-size: 10.0px; color: rgba(118, 26, 161, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.text-1-15276{
position: absolute;
left: 418.0107421875px;
 top: 270.2138671875px;
 width: 59.0px;
 height: 22.0px;
font-size: 10.0px; color: rgba(142, 111, 1, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.text-1-15277{
position: absolute;
left: 145.56689453125px;
 top: 46.1978759765625px;
 width: 33.0px;
 height: 36.0px;
font-size: 22.32630729675293px; color: rgba(242, 78, 30, 1.0); font-family: Hind Siliguri; font-weight: 500;
}

.text-1-15278{
position: absolute;
left: 88.037353515625px;
 top: 344.3048095703125px;
 width: 33.0px;
 height: 36.0px;
font-size: 22.32630729675293px; color: rgba(7, 94, 121, 1.0); font-family: Hind Siliguri; font-weight: 500;
}

.text-1-15279{
position: absolute;
left: 291.1337890625px;
 top: 361.738037109375px;
 width: 33.0px;
 height: 36.0px;
font-size: 22.32630729675293px; color: rgba(32, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 500;
}

.text-1-15280{
position: absolute;
left: 30.508056640625px;
 top: 185.6630859375px;
 width: 22.0px;
 height: 36.0px;
font-size: 22.32630729675293px; color: rgba(48, 9, 130, 1.0); font-family: Hind Siliguri; font-weight: 500;
}

.text-1-15281{
position: absolute;
left: 311.181884765625px;
 top: 103.727294921875px;
 width: 28.0px;
 height: 36.0px;
font-size: 22.32630729675293px; color: rgba(118, 26, 161, 1.0); font-family: Hind Siliguri; font-weight: 500;
}

.text-1-15282{
position: absolute;
left: 430.598876953125px;
 top: 203.9678955078125px;
 width: 33.0px;
 height: 36.0px;
font-size: 22.32630729675293px; color: rgba(142, 111, 1, 1.0); font-family: Hind Siliguri; font-weight: 500;
}

.text-1-15283{
position: absolute;
left: 185.0px;
 top: 320.8876953125px;
 width: 82.0px;
 height: 11.0px;
font-size: 10.0px; color: rgba(66, 66, 67, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.text-1-15284{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 329.0px;
 height: 13.0px;
font-size: 25.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}