<div class="modulesreportpage-1-15258" name="Modules@Report page">
 <div class="group-1-15629" name="Group">
  <img class="vector-1-15630" src="assets/images/Modules/report-page/vector-1_15630.svg"/>
  <div class="group-1-15631" name="Group">
   <div class="group-1-15632" name="Group">
    <div class="group-1-15633" name="Group">
    </div>
    <label class="text-1-15634" type="text" value="Insight">
     Insight
    </label>
   </div>
   <div class="group-1-15635" name="Group">
    <div class="group-1-15636" name="Group">
    </div>
    <label class="text-1-15637" type="text" value="Admin">
     Admin
    </label>
   </div>
  </div>
  <img class="vector-1-15638" src="assets/images/Modules/report-page/vector-1_15638.svg"/>
  <div class="group-1-15656" name="Group">
   <img class="vector-1-15657" src="assets/images/Modules/report-page/vector-1_15657.svg"/>
  </div>
  <div class="group-1-15658" name="Group">
   <img class="img-1-15659" src="assets/images/Modules/report-page/img-1_15659.png"/>
  </div>
  <div class="group-1-15661" name="Group">
   <img class="vector-1-15662" src="assets/images/Modules/report-page/vector-1_15662.svg"/>
   <img class="vector-1-15672" src="assets/images/Modules/report-page/vector-1_15672.svg"/>
   <label class="text-1-15674" type="text" value="Property report">
    Property report
   </label>
  </div>
 </div>
 <div class="group-1-15675" name="Group">
  <input class="text-1-15676" placeholder="Search Users here...." type="text"/>
  <img class="vector-1-15679" src="assets/images/Modules/report-page/vector-1_15679.svg"/>
  <img class="vector-1-15683" src="assets/images/Modules/report-page/vector-1_15683.svg"/>
 </div>
 <div class="group-1-15603" name="Group">
  <div class="group-1-15604" name="Group">
  </div>
  <img class="vector-1-15605" src="assets/images/Modules/report-page/vector-1_15605.svg"/>
  <button class="btn-1-15607" type="button">
   <img class="vector-1-15610" src="assets/images/Modules/report-page/vector-1_15610.svg"/>
   BlackJack Data Research Tool
  </button>
  <div class="group-1-15612" name="Group">
   <img class="vector-1-15613" src="assets/images/Modules/report-page/vector-1_15613.svg"/>
   <img class="vector-1-15616" src="assets/images/Modules/report-page/vector-1_15616.svg"/>
   <img class="vector-1-15619" src="assets/images/Modules/report-page/vector-1_15619.svg"/>
   <img class="vector-1-15623" src="assets/images/Modules/report-page/vector-1_15623.svg"/>
   <img class="vector-1-15626" src="assets/images/Modules/report-page/vector-1_15626.svg"/>
  </div>
 </div>
 <div class="group-1-15526" name="Group">
  <div class="group-1-15527" name="Group">
  </div>
  <div class="group-1-15528" name="Group">
   <div class="group-1-15529" name="Group">
   </div>
   <div class="group-1-15530" name="Group">
    <label class="text-1-15531" type="text" value="Salesforce">
     Salesforce
    </label>
   </div>
  </div>
  <div class="group-1-15532" name="Group">
   <div class="group-1-15533" name="Group">
   </div>
   <div class="group-1-15534" name="Group">
    <label class="text-1-15535" type="text" value="ASC">
     ASC
    </label>
   </div>
  </div>
  <div class="group-1-15536" name="Group">
   <div class="group-1-15537" name="Group">
   </div>
   <div class="group-1-15538" name="Group">
    <label class="text-1-15539" type="text" value="Imaging">
     Imaging
    </label>
   </div>
  </div>
  <div class="group-1-15540" name="Group">
   <div class="group-1-15541" name="Group">
   </div>
   <div class="group-1-15542" name="Group">
    <label class="text-1-15543" type="text" value="Barrow, AK 99723">
     Barrow, AK 99723
    </label>
   </div>
  </div>
  <label class="text-1-15544" type="text" value="1296 Agvik Street">
   1296 Agvik Street
  </label>
  <img class="vector-1-15545" src="assets/images/Modules/report-page/vector-1_15545.svg"/>
  <div class="group-1-15546" name="Group">
   <div class="group-1-15547" name="Group">
   </div>
   <label class="text-1-15548" type="text" value="(Scout ranks more than 900 markets on a scale of 1-10)">
    (Scout ranks more than 900 markets on a scale of 1-10)
   </label>
  </div>
  <div class="group-1-15549" name="Group">
   <div class="group-1-15550" name="Group">
   </div>
   <img class="vector-1-15551" src="assets/images/Modules/report-page/vector-1_15551.svg"/>
   <label class="text-1-15553" type="text" value="Property Report">
    Property Report
   </label>
   <div class="group-1-15554" name="Group">
    <label class="text-1-15555" type="text" value="9.7">
     9.7
    </label>
    <img class="vector-1-15556" src="assets/images/Modules/report-page/vector-1_15556.svg"/>
    <label class="text-1-15561" type="text" value="Lorem Ipsum ">
     Lorem Ipsum
    </label>
    <label class="text-1-15562" type="text" value="Property Score">
     Property Score
    </label>
   </div>
   <div class="group-1-15563" name="Group">
    <img class="vector-1-15564" src="assets/images/Modules/report-page/vector-1_15564.svg"/>
    <label class="text-1-15569" type="text" value="6.7">
     6.7
    </label>
    <label class="text-1-15570" type="text" value="Lorem Ipsum ">
     Lorem Ipsum
    </label>
    <label class="text-1-15571" type="text" value="Market">
     Market
    </label>
   </div>
   <div class="group-1-15572" name="Group">
    <img class="vector-1-15573" src="assets/images/Modules/report-page/vector-1_15573.svg"/>
    <label class="text-1-15578" type="text" value="3.0">
     3.0
    </label>
    <label class="text-1-15579" type="text" value="Lorem Ipsum ">
     Lorem Ipsum
    </label>
    <label class="text-1-15580" type="text" value="Practice">
     Practice
    </label>
   </div>
   <div class="group-1-15581" name="Group">
    <label class="text-1-15582" type="text" value="8.2">
     8.2
    </label>
    <img class="vector-1-15583" src="assets/images/Modules/report-page/vector-1_15583.svg"/>
    <label class="text-1-15588" type="text" value="Polar Score">
     Polar Score
    </label>
    <label class="text-1-15589" type="text" value="Lorem Ipsum ">
     Lorem Ipsum
    </label>
   </div>
   <label class="text-1-15590" type="text" value="Scout Analysis">
    Scout Analysis
   </label>
  </div>
  <div class="group-1-15591" name="Group">
   <img class="img-1-15592" src="assets/images/Modules/report-page/img-1_15592.png"/>
  </div>
  <img class="vector-1-15593" src="assets/images/Modules/report-page/vector-1_15593.svg"/>
  <img class="vector-1-15595" src="assets/images/Modules/report-page/vector-1_15595.svg"/>
  <img class="vector-1-15597" src="assets/images/Modules/report-page/vector-1_15597.svg"/>
 </div>
 <img class="img-1-15599" src="assets/images/Modules/report-page/img-1_15599.png"/>
 <div class="group-1-15600" name="Group">
  <div class="group-1-15601" name="Group">
  </div>
  <div class="group-1-15602" name="Group">
  </div>
 </div>
 <div class="group-1-15473" name="Group">
  <div class="group-1-15474" name="Group">
  </div>
  <label class="text-1-15475" type="text" value="Properties details">
   Properties details
  </label>
  <img class="vector-1-15476" src="assets/images/Modules/report-page/vector-1_15476.svg"/>
  <div class="group-1-15477" name="Group">
   <label class="text-1-15478" type="text" value="1997">
    1997
   </label>
   <label class="text-1-15479" type="text" value="Year Built">
    Year Built
   </label>
   <img class="vector-1-15480" src="assets/images/Modules/report-page/vector-1_15480.svg"/>
   <img class="vector-1-15495" src="assets/images/Modules/report-page/vector-1_15495.svg"/>
  </div>
  <div class="group-1-15501" name="Group">
   <label class="text-1-15502" type="text" value="77,575">
    77,575
   </label>
   <label class="text-1-15503" type="text" value="Sales Price ($)">
    Sales Price ($)
   </label>
   <img class="vector-1-15504" src="assets/images/Modules/report-page/vector-1_15504.svg"/>
   <img class="vector-1-15506" src="assets/images/Modules/report-page/vector-1_15506.svg"/>
  </div>
  <div class="group-1-15512" name="Group">
   <label class="text-1-15513" type="text" value="Cap Rate (%)">
    Cap Rate (%)
   </label>
   <label class="text-1-15514" type="text" value="56">
    56
   </label>
   <img class="vector-1-15515" src="assets/images/Modules/report-page/vector-1_15515.svg"/>
   <img class="vector-1-15517" src="assets/images/Modules/report-page/vector-1_15517.svg"/>
  </div>
  <img class="vector-1-15523" src="assets/images/Modules/report-page/vector-1_15523.svg"/>
 </div>
 <div class="group-1-15414" name="Group">
  <div class="group-1-15415" name="Group">
   <div class="group-1-15416" name="Group">
   </div>
   <div class="group-1-15417" name="Group">
    <label class="text-1-15418" type="text" value="Account ownership details">
     Account ownership details
    </label>
    <img class="vector-1-15419" src="assets/images/Modules/report-page/vector-1_15419.svg"/>
    <table class="table-1-15420">
     <tr>
      <th class="th-1-15422">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/6af702da-5126-48b9-93fd-5efcde27831c"/>
      </th>
      <th class="th-1-15422">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/9bbbeb76-8bfc-48e1-b26c-fe32f2eb308a"/>
      </th>
      <th class="th-1-15422">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/9723babb-9bfb-4ec5-9c3d-3e39ae53a8e7"/>
      </th>
      <th class="th-1-15422">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/84e74a7e-5627-42b2-bf41-20173587b131"/>
      </th>
      <th class="th-1-15422">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/14abc0c9-b482-4de5-a101-7bd99c1aea5f"/>
      </th>
      <th class="th-1-15422">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/87efc792-be3e-47f9-b73e-ebe5fbeb8c45"/>
      </th>
     </tr>
     <tr>
      <td class="td-1-15447">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/54bcd687-1854-4a33-b9a7-e5f0b38a202f"/>
      </td>
      <td class="td-1-15447">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/bfbd9bb1-6ca5-4b12-8b29-6c65b3c94d20"/>
      </td>
      <td class="td-1-15447">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/41bb9915-31ac-4232-b3c6-76681183d446"/>
      </td>
      <td class="td-1-15447">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/e57f2bc4-a1fe-4d35-8ffe-89a550782bc6"/>
      </td>
      <td class="td-1-15447">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/2fa91577-af88-4bf7-a878-d2fefc94082f"/>
      </td>
      <td class="td-1-15447">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/c941a1d2-f231-4737-a9da-3f1fe185022f"/>
      </td>
     </tr>
    </table>
   </div>
  </div>
 </div>
 <div class="group-1-15286" name="Group">
  <div class="group-1-15287" name="Group">
   <div class="group-1-15288" name="Group">
   </div>
   <img class="vector-1-15289" src="assets/images/Modules/report-page/vector-1_15289.svg"/>
   <label class="text-1-15290" type="text" value="Practices Name (s) ">
    Practices Name (s)
   </label>
   <table class="table-1-15291">
    <tr>
     <th class="th-1-15293">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/23c79686-dd8b-4b2e-8adf-49baeeb78cf8"/>
     </th>
     <th class="th-1-15293">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/52b5d8af-b554-44f6-aed4-53bd496865bd"/>
     </th>
    </tr>
    <tr>
     <td class="td-1-15302">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/909d1082-5f6a-44f8-9e72-1ee6f865f301"/>
     </td>
     <td class="td-1-15302">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/b358e44a-0f9b-4e99-8d0a-7eec6898329c"/>
     </td>
    </tr>
    <tr>
     <td class="td-1-15302">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/d163b5f5-bbdb-4904-8137-c7f6cfd63884"/>
     </td>
     <td class="td-1-15302">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/67e3222f-3cc4-441c-a973-cdb0a81b3d45"/>
     </td>
    </tr>
   </table>
   <label class="text-1-15319" type="text" value="Tenant details">
    Tenant details
   </label>
   <table class="table-1-15320">
    <tr>
     <th class="th-1-15322">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/6a493738-87e8-4f06-a9a1-8b190945e7af"/>
     </th>
     <th class="th-1-15322">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/c3c016be-b304-41eb-893f-9c5a2a0ead65"/>
     </th>
    </tr>
    <tr>
     <td class="td-1-15331">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/f2feb0fb-61d8-4bd1-b675-eb11e62c3f40"/>
     </td>
     <td class="td-1-15331">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/462f2543-c6ad-4ce3-9fca-82cb82a28e8d"/>
     </td>
    </tr>
    <tr>
     <td class="td-1-15331">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/3292f19b-e926-4532-aa3d-6beeae400e3d"/>
     </td>
     <td class="td-1-15331">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/f8db6226-3999-4ea1-ab35-6a7cc0233c6f"/>
     </td>
    </tr>
    <tr>
     <td class="td-1-15331">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/2689550f-cf53-495c-afc6-702ec8427d54"/>
     </td>
     <td class="td-1-15331">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/7d901b5a-e3c1-46f7-930b-3664962f8c9c"/>
     </td>
    </tr>
   </table>
   <label class="text-1-15357" type="text" value="Physicians (Speciality) ">
    Physicians (Speciality)
   </label>
   <table class="table-1-15358">
    <tr>
     <th class="th-1-15360">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/1e6599c2-a7b9-4997-93ae-0f7cd0b59780"/>
     </th>
     <th class="th-1-15360">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/5691ef69-4ada-44fc-bbba-e8e93f52d339"/>
     </th>
     <th class="th-1-15360">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/0b9d93d7-c111-431d-89f6-56429c9c3f01"/>
     </th>
    </tr>
    <tr>
     <td class="td-1-15373">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/08ad78d2-19e0-4166-bcca-8314b4c84e4f"/>
     </td>
     <td class="td-1-15373">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/da8081e2-ede5-4243-9ecc-d40c6481d1e8"/>
     </td>
     <td class="td-1-15373">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/5c38e050-d1f2-4889-859c-9a6b33ee08ea"/>
     </td>
    </tr>
    <tr>
     <td class="td-1-15373">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/be954d0f-db0b-45d8-832d-c104f4e6246f"/>
     </td>
     <td class="td-1-15373">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/eb3feb13-7a03-4f1c-8174-744d5ef445a1"/>
     </td>
     <td class="td-1-15373">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/60a98d4a-cd66-4f6e-af9f-4d07d419908c"/>
     </td>
    </tr>
    <tr>
     <td class="td-1-15373">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/e76a4b43-ea32-4da5-bf5a-61c6885c7e3c"/>
     </td>
     <td class="td-1-15373">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/318a132a-2076-4e9c-aa57-add38ef8c23c"/>
     </td>
     <td class="td-1-15373">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/fd928567-5835-4435-925d-9e60fe275e5f"/>
     </td>
    </tr>
   </table>
   <img class="vector-1-15411" src="assets/images/Modules/report-page/vector-1_15411.svg"/>
  </div>
 </div>
 <img class="vector-1-15285" src="assets/images/Modules/report-page/vector-1_15285.svg"/>
 <div class="group-1-15259" name="Group">
  <div class="group-1-15260" name="Group">
  </div>
  <div class="group-1-15261" name="Group">
   <img class="vector-1-15262" src="assets/images/Modules/report-page/vector-1_15262.svg"/>
   <img class="vector-1-15263" src="assets/images/Modules/report-page/vector-1_15263.svg"/>
   <img class="img-1-15264" src="assets/images/Modules/report-page/img-1_15264.png"/>
   <img class="vector-1-15265" src="assets/images/Modules/report-page/vector-1_15265.svg"/>
   <img class="vector-1-15266" src="assets/images/Modules/report-page/vector-1_15266.svg"/>
   <img class="vector-1-15267" src="assets/images/Modules/report-page/vector-1_15267.svg"/>
   <img class="vector-1-15268" src="assets/images/Modules/report-page/vector-1_15268.svg"/>
   <img class="vector-1-15269" src="assets/images/Modules/report-page/vector-1_15269.svg"/>
   <img class="vector-1-15270" src="assets/images/Modules/report-page/vector-1_15270.svg"/>
   <label class="text-1-15271" type="text" value="Dr. Kathryn 
Murphy">
    Dr. Kathryn 
Murphy
   </label>
   <label class="text-1-15272" type="text" value="Dr. Ryn 
Murphy">
    Dr. Ryn 
Murphy
   </label>
   <label class="text-1-15273" type="text" value="Dr. Kathryn 
Murphy">
    Dr. Kathryn 
Murphy
   </label>
   <label class="text-1-15274" type="text" value="Dr. Kathryn 
James">
    Dr. Kathryn 
James
   </label>
   <label class="text-1-15275" type="text" value="Dr. James 
Murphy">
    Dr. James 
Murphy
   </label>
   <label class="text-1-15276" type="text" value="Dr. Kathryn 
Murphy">
    Dr. Kathryn 
Murphy
   </label>
   <label class="text-1-15277" type="text" value="KM">
    KM
   </label>
   <label class="text-1-15278" type="text" value="RM">
    RM
   </label>
   <label class="text-1-15279" type="text" value="KM">
    KM
   </label>
   <label class="text-1-15280" type="text" value="KJ">
    KJ
   </label>
   <label class="text-1-15281" type="text" value="JM">
    JM
   </label>
   <label class="text-1-15282" type="text" value="KM">
    KM
   </label>
   <label class="text-1-15283" type="text" value="Medical Hospital">
    Medical Hospital
   </label>
  </div>
  <label class="text-1-15284" type="text" value="Relationship Connections">
   Relationship Connections
  </label>
 </div>
</div>
