

.authenticationloginpolaris-1-344{
position:'' ;width: 100%; height: auto;  background-color: rgba(255,255,255,1.0);top:0px; left: 0;background:''}

.group-1-370{
position:absolute ;width: 672.0px; height: 1021.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 774px);background:''}

.vector-1-371{
position: absolute;left: 0.07470703125px; top: -102.59912109375px; width: 1930.17578125px; height: 1547.555908203125}

.vector-1-345{
position: absolute;left: 106.0px; top: 90.0px; width: 315.8743896484375px; height: 69.0}

.text-1-409{
position: absolute;
left: 106.0px;
 top: 218.0px;
 width: 538.0px;
 height: 100.0px;
font-size: 40.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy; font-weight: 700;
}

.text-1-410{
position: absolute;
left: 123.0px;
 top: 337.0px;
 width: 578.0px;
 height: 38.0px;
font-size: 16.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy; font-weight: 500;
}

.group-1-411{
position:absolute ;width: 547.0px; height: 488.444580078125px;  background-color: rgba(0,0,0,0.0);top:375px; left: calc( ( ( 100% - 1440px) / 2 ) + 130px);background:''}

.img-1-412{
position: absolute;left: 0.0px; top: 0.0px; width: 547.0px; height: 488.907470703125px;}

.group-1-385{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(0,0,0,0.0);top:273px; left: calc( ( ( 100% - 1440px) / 2 ) + 828px);box-shadow: 0.0px 4.0px 4.0px rgba(0, 0, 0, 0.25);background:''}

.group-1-390{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;box-shadow: 0.0px 3.0px 25.0px rgba(11, 133, 193, 0.5);background:''}

.text-1-407{
position: absolute;
left: 98.0px;
 top: 67.0px;
 width: 257.0px;
 height: 29.0px;
font-size: 36.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy; font-weight: 700;
}

.group-1-386{
position:absolute ;width: 409.498291015625px; height: 176.416259765625px;  background-color: rgba(255,255,255,1.0);top:118px; left: 41px;background:''}

.group-1-387{
position:absolute ;width: 409.498291015625px; height: 176.416259765625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-391{
position:absolute ;width: 409.498291015625px; height: 176.416259765625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.text-1-395{
position: absolute;
left: 0.4278564453125px;
 top: 14.0201416015625px;
 width: 409.498291015625px;
 height: 65.6883544921875px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.group-1-401{
position:absolute ;width: 78.0px; height: 25.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 18px;background:''}

.group-1-402{
position:absolute ;width: 78.0px; height: 25.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.text-1-403{
position: absolute;
left: 9.0px;
 top: 2.0px;
 width: 62.0px;
 height: 19.0px;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy; font-weight: 400;
}

.text-1-392{
position: absolute;
left: 0.4278564453125px;
 top: 110.72802734375px;
 width: 409.498291015625px;
 height: 65.6883544921875px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.group-1-398{
position:absolute ;width: 60.54833984375px; height: 23.7208251953125px;  background-color: rgba(0,0,0,0.0);top:133px; left: 331px;background:''}

.text-1-399{
position: absolute;
left: 0.8505859375px;
 top: -0.593505859375px;
 width: 60.54833984375px;
 height: 23.7208251953125px;
font-size: 9.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy; font-weight: 400;
}

.vector-1-400{
position: absolute;left: 317.0px; top: 119.0px; width: 1.0px; height: 51.0}

.text-1-408{
position: absolute;
left: 18.16900634765625px;
 top: 319.916259765625px;
 width: 196.47882080078125px;
 height: 28.0px;
font-size: 10.0px; color: rgba(147, 147, 147, 1.0); font-family: Gilroy; font-weight: 400;
}

.btn-1-404{
position: absolute;
left: 293.0px;
 top: 356.0px;
 width: 131.8599853515625px;
 height: 55.0px;
border-radius: 10.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}