<div class="authenticationloginpolaris-1-344" name="Authentication@Login polaris">
 <div class="group-1-370" name="Group">
  <img class="vector-1-371" src="assets/images/Authentication/login-polaris/vector-1_371.svg"/>
 </div>
 <img class="vector-1-345" src="assets/images/Authentication/login-polaris/vector-1_345.svg"/>
 <label class="text-1-409" type="text" value="The first AI-driven healthcare
staffing + scheduling platform">
  The first AI-driven healthcare
staffing + scheduling platform
 </label>
 <label class="text-1-410" type="text" value="All-in-one platform for the efficient prediction and management of physician and nurse scheduling">
  All-in-one platform for the efficient prediction and management of physician and nurse scheduling
 </label>
 <div class="group-1-411" name="Group">
  <img class="img-1-412" src="assets/images/Authentication/login-polaris/img-1_412.png"/>
 </div>
 <div class="group-1-385" name="Group">
  <div class="group-1-390" name="Group">
  </div>
  <label class="text-1-407" type="text" value="Welcome Back!">
   Welcome Back!
  </label>
  <div class="group-1-386" name="Group">
   <div class="group-1-387" name="Group">
    <div class="group-1-391" name="Group">
     <input class="text-1-395" placeholder="john.doe" type="text"/>
     <div class="group-1-401" name="Group">
      <div class="group-1-402" name="Group">
      </div>
      <label class="text-1-403" type="text" value="User Name">
       User Name
      </label>
     </div>
     <input class="text-1-392" placeholder="Password" type="text"/>
     <div class="group-1-398" name="Group">
      <label class="text-1-399" type="text" value="Show
Password">
       Show
Password
      </label>
     </div>
     <img class="vector-1-400" src="assets/images/Authentication/login-polaris/vector-1_400.svg"/>
    </div>
   </div>
  </div>
  <label class="text-1-408" type="text" value="Forgot username?  |  Forgot password?">
   Forgot username?  |  Forgot password?
  </label>
  <button class="btn-1-404" type="button">
   SIGN IN
  </button>
 </div>
</div>
