

.modulesscoutusersedit-1-14997{
position:'' ;width: 100%; height: auto;  background-color: rgba(217,217,217,1.0);top:0px; left: 0;background:''}

.group-1-14998{
position:absolute ;width: 1440.0px; height: 80.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.vector-1-14999{
position: absolute;left: 0.0px; top: 0.0px; width: 1440.0px; height: 80.0}

.group-1-15000{
position:absolute ;width: 150.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:23px; left: 1214px;background:''}

.group-1-15001{
position:absolute ;width: 75.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-15002{
position:absolute ;width: 75.0px; height: 34.0px;  background-color: rgba(0,184,149,1.0);top:0px; left: 0px;background:''}

.text-1-15003{
position: absolute;
left: 22.0px;
 top: 11.0px;
 width: 31.0px;
 height: 13.0px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.group-1-15004{
position:absolute ;width: 75.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 75px;background:''}

.group-1-15005{
position:absolute ;width: 75.0px; height: 34.0px;  background-color: rgba(248,248,248,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.text-1-15006{
position: absolute;
left: 23.0px;
 top: 11.0px;
 width: 30.0px;
 height: 13.0px;
font-size: 10.0px; color: rgba(0, 0, 0, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.vector-1-15007{
position: absolute;left: 16.0px; top: 20.0px; width: 128.76190185546875px; height: 40.0}

.group-1-15025{
position:absolute ;width: 1.0px; height: 54.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 162px;background:''}

.vector-1-15026{
position: absolute;left: 0.0px; top: 0.0px; width: 1.0px; height: 54.0}

.group-1-15027{
position:absolute ;width: 34.0px; height: 34.0px;  background-color: rgba(255,255,255,1.0);top:23px; left: 1383px;background:''}

.img-1-15028{
position: absolute;left: 0.0px; top: -2.9565277099609375px; width: 37.695556640625px; height: 36.95652770996094px;}

.group-1-15030{
position:absolute ;width: 241.0px; height: 32.0px;  background-color: rgba(0,0,0,0.0);top:25px; left: 171px;background:''}

.vector-1-15031{
position: absolute;left: 0.0px; top: 0.0px; width: 241.0px; height: 32.0}

.vector-1-15041{
position: absolute;left: 118.0px; top: 11.0px; width: 12.0px; height: 12.0}

.text-1-15043{
position: absolute;
left: 134.0px;
 top: 6.0px;
 width: 103.0px;
 height: 20.0px;
font-size: 13.0px; color: rgba(20, 26, 33, 1.0); font-family: Poppins; font-weight: 500;
}

.group-1-15044{
position:absolute ;width: 72.0px; height: 896.0px;  background-color: rgba(0,0,0,0.0);top:80px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-1-15045{
position:absolute ;width: 72.0px; height: 896.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(217, 217, 217, 1.0);border-style:solid;background:''}

.group-1-15046{
position:absolute ;width: 40.0px; height: 600.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 16px;background:''}

.group-1-15047{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:560px; left: 0px;background:''}

.group-1-15048{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-15049{
position: absolute;left: 10.0px; top: 10.0px; width: 20.0px; height: 20.0}

.group-1-15053{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:504px; left: 0px;background:''}

.group-1-15054{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-15055{
position: absolute;left: 10.0px; top: 10.0px; width: 20.0px; height: 20.0}

.group-1-15064{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:448px; left: 0px;background:''}

.group-1-15065{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-15066{
position: absolute;left: 10.0px; top: 10.0px; width: 20.0px; height: 20.0}

.group-1-15068{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:392px; left: 0px;background:''}

.group-1-15069{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-15070{
position: absolute;left: 8.0px; top: 8.0px; width: 24.0px; height: 24.0}

.group-1-15072{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:336px; left: 0px;background:''}

.group-1-15073{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-15074{
position: absolute;left: 10.0px; top: 10.0px; width: 20.0px; height: 20.0}

.group-1-15093{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:280px; left: 0px;background:''}

.group-1-15094{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-15095{
position: absolute;left: 10.0px; top: 10.0px; width: 20.0px; height: 20.0}

.group-1-15102{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:224px; left: 0px;background:''}

.group-1-15103{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-15104{
position: absolute;left: 10.0px; top: 10.0px; width: 20.0px; height: 20.0}

.group-1-15109{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:168px; left: 0px;background:''}

.group-1-15110{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-15111{
position: absolute;left: 10.0px; top: 10.0px; width: 20.0px; height: 20.0}

.group-1-15113{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:112px; left: 0px;background:''}

.group-1-15114{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-15115{
position: absolute;left: 10.0px; top: 10.0px; width: 20.0px; height: 20.0}

.group-1-15118{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:56px; left: 0px;background:''}

.group-1-15119{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-15120{
position: absolute;left: 10.0px; top: 10.0px; width: 20.0px; height: 20.0}

.group-1-15167{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-15168{
position:absolute ;width: 40.0px; height: 40.0px;  background-color: rgba(207,238,222,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-15169{
position: absolute;left: 10.0px; top: 10.0px; width: 20.0px; height: 20.0}

.group-1-15175{
position:absolute ;width: 1368.0px; height: 896.0px;  background-color: rgba(0,0,0,0.0);top:80px; left: calc( ( ( 100% - 1440px) / 2 ) + 72px);background:''}

.group-1-15176{
position:absolute ;width: 1368.0px; height: 896.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-15177{
position:absolute ;width: 1368.0px; height: 896.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(217, 217, 217, 1.0);border-style:solid;background:''}

.group-1-15178{
position:absolute ;width: 1368.0px; height: 275.0px;  background-color: rgba(0,0,0,0.0);top:316px; left: 0px;background:''}

.group-1-15179{
position:absolute ;width: 1368.0px; height: 275.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-15180{
position:absolute ;width: 1240.0px; height: 60.0px;  background-color: rgba(0,0,0,0.0);top:104px; left: 27px;background:''}

.group-1-15181{
position:absolute ;width: 400.0px; height: 60.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 840px;background:''}

.text-1-15182{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 400.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(31, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.text-1-15183{
position: absolute;
border-radius: 2.0px;border:none;left: 0.0px;
 top: 26.0px;
 width: 384.0px;
 height: 34.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.group-1-15186{
position:absolute ;width: 400.0px; height: 60.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.text-1-15187{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 400.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(31, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.text-1-15188{
position: absolute;
border-radius: 2.0px;border:none;left: 0.0px;
 top: 26.0px;
 width: 384.0px;
 height: 34.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.group-1-15191{
position:absolute ;width: 400.0px; height: 60.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 420px;background:''}

.text-1-15192{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 400.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(31, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.text-1-15193{
position: absolute;
border-radius: 2.0px;border:none;left: 0.0px;
 top: 26.0px;
 width: 384.0px;
 height: 34.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.group-1-15196{
position:absolute ;width: 668.0px; height: 60.0px;  background-color: rgba(0,0,0,0.0);top:24px; left: 27px;background:''}

.text-1-15197{
position: absolute;
left: 1.0px;
 top: 27.0px;
 width: 667.0px;
 height: 33.0px;
font-size: 10.0px; color: rgba(20, 26, 33, 1.0); font-family: Hind Siliguri; font-weight: 400;
}

.group-1-15198{
position:absolute ;width: 172.0px; height: 23.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-1-15199{
position: absolute;
left: 29.0px;
 top: 2.0px;
 width: 143.0px;
 height: 21.0px;
font-size: 13.0px; color: rgba(32, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.vector-1-15200{
position: absolute;left: 0.0px; top: 0.0px; width: 20.0px; height: 20.0}

.group-1-15206{
position:absolute ;width: 1368.0px; height: 311.0px;  background-color: rgba(0,0,0,0.0);top:5px; left: 0px;background:''}

.group-1-15207{
position:absolute ;width: 1368.0px; height: 275.0px;  background-color: rgba(0,0,0,0.0);top:36px; left: 0px;background:''}

.group-1-15208{
position:absolute ;width: 1368.0px; height: 275.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 2.0px;border-color:rgba(0, 0, 0, 0.10000000149011612);border-style:solid;background:''}

.group-1-15209{
position:absolute ;width: 821.0px; height: 69.0px;  background-color: rgba(0,0,0,0.0);top:176px; left: 27px;background:''}

.group-1-15210{
position:absolute ;width: 400.0px; height: 60.0px;  background-color: rgba(255,255,255,1.0);top:8px; left: 0px;background:''}

.text-1-15211{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 400.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(31, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 700;
}

.text-1-15212{
position: absolute;
border-radius: 2.0px;border:none;left: 0.0px;
 top: 26.0px;
 width: 400.0px;
 height: 34.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.group-1-15215{
position:absolute ;width: 401.0px; height: 69.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 420px;border-radius: 2.0px;background:''}

.text-1-15216{
position: absolute;
border-radius: 2.0px;border:none;left: 0.0px;
 top: 35.0px;
 width: 400.0px;
 height: 34.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.text-1-15219{
position: absolute;
left: 1.0px;
 top: 0.0px;
 width: 400.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(31, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 700;
}

.group-1-15220{
position:absolute ;width: 820.0px; height: 60.0px;  background-color: rgba(0,0,0,0.0);top:104px; left: 27px;background:''}

.group-1-15221{
position:absolute ;width: 400.0px; height: 60.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.text-1-15222{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 400.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(31, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 700;
}

.text-1-15223{
position: absolute;
border-radius: 2.0px;border:none;left: 0.0px;
 top: 26.0px;
 width: 400.0px;
 height: 34.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.group-1-15226{
position:absolute ;width: 400.0px; height: 60.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 420px;background:''}

.text-1-15227{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 400.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(31, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 700;
}

.text-1-15228{
position: absolute;
border-radius: 2.0px;border:none;left: 0.0px;
 top: 26.0px;
 width: 400.0px;
 height: 34.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.group-1-15231{
position:absolute ;width: 668.0px; height: 60.0px;  background-color: rgba(0,0,0,0.0);top:24px; left: 27px;background:''}

.text-1-15232{
position: absolute;
left: 1.0px;
 top: 27.0px;
 width: 667.0px;
 height: 33.0px;
font-size: 10.0px; color: rgba(20, 26, 33, 1.0); font-family: Hind Siliguri; font-weight: 700;
}

.group-1-15233{
position:absolute ;width: 153.0px; height: 23.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-1-15234{
position: absolute;
left: 29.0px;
 top: 2.0px;
 width: 124.0px;
 height: 21.0px;
font-size: 13.0px; color: rgba(32, 74, 140, 1.0); font-family: Hind Siliguri; font-weight: 700;
}

.vector-1-15235{
position: absolute;left: 0.0px; top: 0.0px; width: 20.0px; height: 20.0}

.group-1-15241{
position:absolute ;width: 114.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 84px;background:''}

.group-1-15242{
position:absolute ;width: 114.0px; height: 31.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;background:''}

.group-1-15243{
position:absolute ;width: 74.0px; height: 31.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 14px;background:''}

.vector-1-15244{
position: absolute;left: 9.0px; top: 6.0px; width: 18.0px; height: 18.0}

.text-1-15246{
position: absolute;
left: 37.0px;
 top: 5.0px;
 width: 28.0px;
 height: 20.0px;
font-size: 10.0px; color: rgba(107, 114, 128, 1.0); font-family: Poppins; font-weight: 600;
}

.group-1-15247{
position:absolute ;width: 100.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 5px;background:''}

.group-1-15248{
position:absolute ;width: 100.0px; height: 31.0px;  background-color: rgba(222,235,248,1.0);top:0px; left: 0px;background:''}

.group-1-15249{
position:absolute ;width: 70.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.vector-1-15250{
position: absolute;left: 9.0px; top: 6.0px; width: 18.0px; height: 18.0}

.text-1-15252{
position: absolute;
left: 37.0px;
 top: 5.0px;
 width: 24.0px;
 height: 20.0px;
font-size: 10.0px; color: rgba(31, 74, 140, 1.0); font-family: Poppins; font-weight: 600;
}

.vector-1-15256{
position: relative; width: 16.0px; height: 16.0}

.btn-1-15253{
position: absolute;
left: 1288.0px;
 top: 1.0px;
 width: 64.0px;
 height: 30.0px;
border-radius: 2.0px; background-color: rgba(32, 74, 140, 1.0);
 cursor: pointer;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Hind Siliguri; text-transform: uppercase; font-weight: 500;
}