<div class="modulesscoutusersedit-1-14997" name="Modules@Scout UsersEdit">
 <div class="group-1-14998" name="Group">
  <img class="vector-1-14999" src="assets/images/Modules/scout-usersedit/vector-1_14999.svg"/>
  <div class="group-1-15000" name="Group">
   <div class="group-1-15001" name="Group">
    <div class="group-1-15002" name="Group">
    </div>
    <label class="text-1-15003" type="text" value="Insight">
     Insight
    </label>
   </div>
   <div class="group-1-15004" name="Group">
    <div class="group-1-15005" name="Group">
    </div>
    <label class="text-1-15006" type="text" value="Admin">
     Admin
    </label>
   </div>
  </div>
  <img class="vector-1-15007" src="assets/images/Modules/scout-usersedit/vector-1_15007.svg"/>
  <div class="group-1-15025" name="Group">
   <img class="vector-1-15026" src="assets/images/Modules/scout-usersedit/vector-1_15026.svg"/>
  </div>
  <div class="group-1-15027" name="Group">
   <img class="img-1-15028" src="assets/images/Modules/scout-usersedit/img-1_15028.png"/>
  </div>
  <div class="group-1-15030" name="Group">
   <img class="vector-1-15031" src="assets/images/Modules/scout-usersedit/vector-1_15031.svg"/>
   <img class="vector-1-15041" src="assets/images/Modules/scout-usersedit/vector-1_15041.svg"/>
   <label class="text-1-15043" type="text" value="Property report">
    Property report
   </label>
  </div>
 </div>
 <div class="group-1-15044" name="Group">
  <div class="group-1-15045" name="Group">
  </div>
  <div class="group-1-15046" name="Group">
   <div class="group-1-15047" name="Group">
    <div class="group-1-15048" name="Group">
    </div>
    <img class="vector-1-15049" src="assets/images/Modules/scout-usersedit/vector-1_15049.svg"/>
   </div>
   <div class="group-1-15053" name="Group">
    <div class="group-1-15054" name="Group">
    </div>
    <img class="vector-1-15055" src="assets/images/Modules/scout-usersedit/vector-1_15055.svg"/>
   </div>
   <div class="group-1-15064" name="Group">
    <div class="group-1-15065" name="Group">
    </div>
    <img class="vector-1-15066" src="assets/images/Modules/scout-usersedit/vector-1_15066.svg"/>
   </div>
   <div class="group-1-15068" name="Group">
    <div class="group-1-15069" name="Group">
    </div>
    <img class="vector-1-15070" src="assets/images/Modules/scout-usersedit/vector-1_15070.svg"/>
   </div>
   <div class="group-1-15072" name="Group">
    <div class="group-1-15073" name="Group">
    </div>
    <img class="vector-1-15074" src="assets/images/Modules/scout-usersedit/vector-1_15074.svg"/>
   </div>
   <div class="group-1-15093" name="Group">
    <div class="group-1-15094" name="Group">
    </div>
    <img class="vector-1-15095" src="assets/images/Modules/scout-usersedit/vector-1_15095.svg"/>
   </div>
   <div class="group-1-15102" name="Group">
    <div class="group-1-15103" name="Group">
    </div>
    <img class="vector-1-15104" src="assets/images/Modules/scout-usersedit/vector-1_15104.svg"/>
   </div>
   <div class="group-1-15109" name="Group">
    <div class="group-1-15110" name="Group">
    </div>
    <img class="vector-1-15111" src="assets/images/Modules/scout-usersedit/vector-1_15111.svg"/>
   </div>
   <div class="group-1-15113" name="Group">
    <div class="group-1-15114" name="Group">
    </div>
    <img class="vector-1-15115" src="assets/images/Modules/scout-usersedit/vector-1_15115.svg"/>
   </div>
   <div class="group-1-15118" name="Group">
    <div class="group-1-15119" name="Group">
    </div>
    <img class="vector-1-15120" src="assets/images/Modules/scout-usersedit/vector-1_15120.svg"/>
   </div>
   <div class="group-1-15167" name="Group">
    <div class="group-1-15168" name="Group">
    </div>
    <img class="vector-1-15169" src="assets/images/Modules/scout-usersedit/vector-1_15169.svg"/>
   </div>
  </div>
 </div>
 <div class="group-1-15175" name="Group">
  <div class="group-1-15176" name="Group">
   <div class="group-1-15177" name="Group">
   </div>
   <div class="group-1-15178" name="Group">
    <div class="group-1-15179" name="Group">
    </div>
    <div class="group-1-15180" name="Group">
     <div class="group-1-15181" name="Group">
      <label class="text-1-15182" type="text" value="Status">
       Status
      </label>
      <input class="text-1-15183" placeholder="Search Users here...." type="text"/>
     </div>
     <div class="group-1-15186" name="Group">
      <label class="text-1-15187" type="text" value="Organization">
       Organization
      </label>
      <input class="text-1-15188" placeholder="Search Users here...." type="text"/>
     </div>
     <div class="group-1-15191" name="Group">
      <label class="text-1-15192" type="text" value="Role Type">
       Role Type
      </label>
      <input class="text-1-15193" placeholder="Search Users here...." type="text"/>
     </div>
    </div>
    <div class="group-1-15196" name="Group">
     <label class="text-1-15197" type="text" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
     </label>
     <div class="group-1-15198" name="Group">
      <label class="text-1-15199" type="text" value="Professional Information">
       Professional Information
      </label>
      <img class="vector-1-15200" src="assets/images/Modules/scout-usersedit/vector-1_15200.svg"/>
     </div>
    </div>
   </div>
   <div class="group-1-15206" name="Group">
    <div class="group-1-15207" name="Group">
     <div class="group-1-15208" name="Group">
     </div>
     <div class="group-1-15209" name="Group">
      <div class="group-1-15210" name="Group">
       <label class="text-1-15211" type="text" value="Email Id">
        Email Id
       </label>
       <input class="text-1-15212" placeholder="vaisal.as@lp.com" type="text"/>
      </div>
      <div class="group-1-15215" name="Group">
       <input class="text-1-15216" placeholder="+37 676 839 5209" type="text"/>
       <label class="text-1-15219" type="text" value="Phone ">
        Phone
       </label>
      </div>
     </div>
     <div class="group-1-15220" name="Group">
      <div class="group-1-15221" name="Group">
       <label class="text-1-15222" type="text" value="First Name">
        First Name
       </label>
       <input class="text-1-15223" placeholder="John" type="text"/>
      </div>
      <div class="group-1-15226" name="Group">
       <label class="text-1-15227" type="text" value="Last Name">
        Last Name
       </label>
       <input class="text-1-15228" placeholder="Smith" type="text"/>
      </div>
     </div>
     <div class="group-1-15231" name="Group">
      <label class="text-1-15232" type="text" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">
       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </label>
      <div class="group-1-15233" name="Group">
       <label class="text-1-15234" type="text" value="Personal Information">
        Personal Information
       </label>
       <img class="vector-1-15235" src="assets/images/Modules/scout-usersedit/vector-1_15235.svg"/>
      </div>
     </div>
    </div>
    <div class="group-1-15241" name="Group">
     <div class="group-1-15242" name="Group">
     </div>
     <div class="group-1-15243" name="Group">
      <img class="vector-1-15244" src="assets/images/Modules/scout-usersedit/vector-1_15244.svg"/>
      <label class="text-1-15246" type="text" value="Roles">
       Roles
      </label>
     </div>
    </div>
    <div class="group-1-15247" name="Group">
     <div class="group-1-15248" name="Group">
     </div>
     <div class="group-1-15249" name="Group">
      <img class="vector-1-15250" src="assets/images/Modules/scout-usersedit/vector-1_15250.svg"/>
      <label class="text-1-15252" type="text" value="User">
       User
      </label>
     </div>
    </div>
    <button class="btn-1-15253" type="button">
     <img class="vector-1-15256" src="assets/images/Modules/scout-usersedit/vector-1_15256.svg"/>
     Save
    </button>
   </div>
  </div>
 </div>
</div>
