

.modulesadvancedsearchresult-1-15689{
position:'' ;width: 100%; height: auto;  background-color: rgba(217,217,217,1.0);top:0px; left: 0;background:''}

.group-1-15690{
position:absolute ;width: 1440.0px; height: 80.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.vector-1-15691{
position: absolute;left: 0.0px; top: 0.0px; width: 1440.0px; height: 80.0}

.group-1-15692{
position:absolute ;width: 150.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:23px; left: 1214px;background:''}

.group-1-15693{
position:absolute ;width: 75.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-15694{
position:absolute ;width: 75.0px; height: 34.0px;  background-color: rgba(0,184,149,1.0);top:0px; left: 0px;background:''}

.text-1-15695{
position: absolute;
left: 22.0px;
 top: 11.0px;
 width: 31.0px;
 height: 13.0px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.group-1-15696{
position:absolute ;width: 75.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 75px;background:''}

.group-1-15697{
position:absolute ;width: 75.0px; height: 34.0px;  background-color: rgba(248,248,248,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.text-1-15698{
position: absolute;
left: 23.0px;
 top: 11.0px;
 width: 30.0px;
 height: 13.0px;
font-size: 10.0px; color: rgba(0, 0, 0, 1.0); font-family: Hind Siliguri; font-weight: 600;
}

.vector-1-15699{
position: absolute;left: 16.0px; top: 20.0px; width: 128.76190185546875px; height: 40.0}

.group-1-15717{
position:absolute ;width: 1.0px; height: 54.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 162px;background:''}

.vector-1-15718{
position: absolute;left: 0.0px; top: 0.0px; width: 1.0px; height: 54.0}

.group-1-15719{
position:absolute ;width: 34.0px; height: 34.0px;  background-color: rgba(255,255,255,1.0);top:23px; left: 1383px;background:''}

.img-1-15720{
position: absolute;left: 0.0px; top: -2.95654296875px; width: 37.6956787109375px; height: 36.95654296875px;}

.group-1-15722{
position:absolute ;width: 241.0px; height: 32.0px;  background-color: rgba(0,0,0,0.0);top:25px; left: 171px;background:''}

.vector-1-15723{
position: absolute;left: 0.0px; top: 0.0px; width: 241.0px; height: 32.0}

.vector-1-15733{
position: absolute;left: 118.0px; top: 11.0px; width: 12.0px; height: 12.0}

.text-1-15735{
position: absolute;
left: 134.0px;
 top: 6.0px;
 width: 103.0px;
 height: 20.0px;
font-size: 13.0px; color: rgba(20, 26, 33, 1.0); font-family: Poppins; font-weight: 500;
}

.group-1-15736{
position:absolute ;width: 449.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:23px; left: calc( ( ( 100% - 1440px) / 2 ) + 740px);background:''}

.text-1-15737{
position: absolute;
border-radius: 2.0px;border:none;left: 65.0px;
 top: 0.0px;
 width: 384.0px;
 height: 34.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.vector-1-15740{
position: absolute;left: 423.0px; top: 9.87890625px; width: 15.0px; height: 15.0}

.vector-1-15744{
position: absolute;left: 0.0px; top: 0.0px; width: 67.0px; height: 34.0}

.group-1-15750{
position:absolute ;width: 433.0px; height: 896.0px;  background-color: rgba(0,0,0,0.0);top:80px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-1-15751{
position:absolute ;width: 433.0px; height: 896.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.10000000149011612);border-style:solid;background:''}

.btn-1-15752{
position: absolute;
left: 13.0px;
 top: 764.0px;
 width: 226.0px;
 height: 33.0px;
border-radius: 2.0px; background-color: rgba(217, 217, 217, 1.0);
 cursor: pointer;
font-size: 10.0px; color: rgba(20, 26, 33, 1.0); font-family: Hind Siliguri; text-transform: uppercase; font-weight: 600;
}

.btn-1-15755{
position: absolute;
left: 243.0px;
 top: 764.0px;
 width: 178.0px;
 height: 33.0px;
border-radius: 2.0px; background-color: rgba(31, 74, 140, 1.0);
 cursor: pointer;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Hind Siliguri; text-transform: uppercase; font-weight: 600;
}

.group-1-15758{
position:absolute ;width: 181.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:826px; left: 13px;background:''}

.checkbox-1-15759{
position: absolute;left: 0.0px; top: 0.0px; width: 26.78570556640625px; height: 15.0px;}

.group-1-15768{
position:absolute ;width: 356.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 36px;background:''}

.text-1-15769{
position: absolute;
left: 6.9447021484375px;
 top: 0.0px;
 width: 342.0px;
 height: 15.0px;
font-size: 13.0px; color: rgba(31, 41, 55, 1.0); font-family: Hind Siliguri; font-weight: 500;
}

.text-1-15770{
position: absolute;
left: 6.9447021484375px;
 top: 19.0px;
 width: 349.0px;
 height: 11.0px;
font-size: 10.0px; color: rgba(107, 114, 128, 1.0); font-family: Hind Siliguri; font-weight: 500;
}

.group-1-15771{
position:absolute ;width: 418.0px; height: 228.0px;  background-color: rgba(0,0,0,0.0);top:41px; left: 12px;background:''}

.group-1-15772{
position:absolute ;width: 418.0px; height: 152.0px;  background-color: rgba(0,0,0,0.0);top:76px; left: 0px;background:''}

.group-1-15773{
position:absolute ;width: 418.0px; height: 152.0px;  background-color: '';top:0px; left: 0px;border-radius: 2.0px;border-color:rgba(107, 114, 128, 0.20000000298023224);border-style:solid;background:''}

.group-1-15774{
position:absolute ;width: 410.0px; height: 143.0px;  background-color: rgba(0,0,0,0.0);top:3px; left: 3px;background:''}

.group-1-15775{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(255,255,255,1.0);top:38px; left: 0px;background:''}

.group-1-15776{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-1-15777{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 1.0px;box-shadow: 0.0px 0.0px 0.0px rgba(59, 130, 246, 0.25);background:''}

.vector-1-15778{
position: absolute;left: 0.0px; top: 1.0px; width: 31.0px; height: 27.0}

.text-1-15792{
position: absolute;
border-radius: 2.0px;border:none;left: 35.0px;
 top: 0.0px;
 width: 375.0px;
 height: 28.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.vector-1-15795{
position: absolute;left: 385.0px; top: 7.0px; width: 16.0px; height: 16.0}

.group-1-15796{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(255,255,255,1.0);top:76px; left: 0px;background:''}

.group-1-15797{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-1-15798{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 1.0px;box-shadow: 0.0px 0.0px 0.0px rgba(59, 130, 246, 0.25);background:''}

.vector-1-15799{
position: absolute;left: 0.0px; top: 1.0px; width: 31.0px; height: 27.0}

.text-1-15813{
position: absolute;
border-radius: 2.0px;border:none;left: 35.0px;
 top: 0.0px;
 width: 375.0px;
 height: 28.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.vector-1-15816{
position: absolute;left: 385.0px; top: 7.0px; width: 16.0px; height: 16.0}

.group-1-15817{
position:absolute ;width: 192.0px; height: 28.0px;  background-color: rgba(255,255,255,1.0);top:114px; left: 0px;background:''}

.group-1-15818{
position:absolute ;width: 31.0px; height: 27.0px;  background-color: rgba(249,250,251,1.0);top:1px; left: 0px;background:''}

.vector-1-15819{
position: absolute;left: 9.0px; top: 7.0px; width: 13.0px; height: 13.0}

.text-1-15821{
position: absolute;
border-radius: 2.0px;border:none;left: 30.0px;
 top: 1.0px;
 width: 162.0px;
 height: 27.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.group-1-15824{
position:absolute ;width: 100.0px; height: 15.0px;  background-color: rgba(0,0,0,0.0);top:122px; left: 203px;background:''}

.checkbox-1-15825{
position: absolute;left: 41.00042724609375px; top: 0.0px; width: 26.78570556640625px; height: 15.0px;}

.text-1-15833{
position: absolute;
left: 0.0px;
 top: 2.0px;
 width: 28.0px;
 height: 10.0px;
font-size: 13.0px; color: rgba(20, 26, 33, 1.0); font-family: Poppins; font-weight: 500;
}

.text-1-15834{
position: absolute;
left: 81.0px;
 top: 2.0px;
 width: 19.0px;
 height: 10.0px;
font-size: 13.0px; color: rgba(20, 26, 33, 1.0); font-family: Poppins; font-weight: 500;
}

.group-1-15835{
position:absolute ;width: 404.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.vector-1-15836{
position: absolute;left: 386.0px; top: 5.0px; width: 18.0px; height: 18.0}

.group-1-15838{
position:absolute ;width: 381.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-15839{
position:absolute ;width: 381.0px; height: 28.0px;  background-color: rgba(224,232,245,1.0);top:0px; left: 0px;background:''}

.group-1-15840{
position:absolute ;width: 131.2833251953125px; height: 21.0px;  background-color: rgba(0,0,0,0.0);top:3px; left: 10px;background:''}

.text-1-15841{
position: absolute;
left: 27.80792236328125px;
 top: 0.5px;
 width: 103.0px;
 height: 21.0px;
font-size: 13.0px; color: rgba(107, 114, 128, 1.0); font-family: Hind Siliguri; font-weight: 500;
}

.vector-1-15842{
position: absolute;left: 0.47540283203125px; top: 3.0px; width: 15.875px; height: 15.0}

.group-1-15845{
position:absolute ;width: 76.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:115px; left: 333px;background:''}

.btn-1-15846{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 76.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(32, 74, 140, 1.0); font-family: Hind Siliguri; text-transform: uppercase; font-weight: 600;
}

.group-1-15849{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-1-15850{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-1-15851{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 1.0px;box-shadow: 0.0px 0.0px 0.0px rgba(59, 130, 246, 0.25);background:''}

.vector-1-15852{
position: absolute;left: 0.0px; top: 1.0px; width: 31.0px; height: 27.0}

.text-1-15861{
position: absolute;
border-radius: 2.0px;border:none;left: 35.0px;
 top: 0.0px;
 width: 375.0px;
 height: 28.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.vector-1-15864{
position: absolute;left: 385.0px; top: 7.0px; width: 16.0px; height: 16.0}

.group-1-15865{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(255,255,255,1.0);top:28px; left: 0px;background:''}

.group-1-15866{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-1-15867{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 1.0px;box-shadow: 0.0px 0.0px 0.0px rgba(59, 130, 246, 0.25);background:''}

.vector-1-15868{
position: absolute;left: 0.0px; top: 1.0px; width: 31.0px; height: 27.0}

.text-1-15882{
position: absolute;
border-radius: 2.0px;border:none;left: 35.0px;
 top: 0.0px;
 width: 375.0px;
 height: 28.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.vector-1-15885{
position: absolute;left: 385.0px; top: 7.0px; width: 16.0px; height: 16.0}

.group-1-15886{
position:absolute ;width: 34.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:5px; left: 349px;background:''}

.vector-1-15887{
position: absolute;left: 0.0px; top: 0.0px; width: 34.0px; height: 30.0}

.group-1-15889{
position:absolute ;width: 34.0px; height: 30.0px;  background-color: rgba(249,250,251,1.0);top:5px; left: 390px;background:''}

.vector-1-15890{
position: absolute;left: 9.0px; top: 7.0px; width: 16.0px; height: 16.0}

.group-1-15892{
position:absolute ;width: 144.0px; height: 20.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 15px;background:''}

.vector-1-15893{
position: absolute;left: 0.0px; top: 0.0px; width: 20.0px; height: 20.0}

.text-1-15897{
position: absolute;
left: 27.0px;
 top: 5.0px;
 width: 117.0px;
 height: 10.0px;
font-size: 13.0px; color: rgba(20, 26, 33, 1.0); font-family: Poppins; font-weight: 500;
}

.group-1-15898{
position:absolute ;width: 1007.0px; height: 896.0px;  background-color: rgba(0,0,0,0.0);top:80px; left: calc( ( ( 100% - 1440px) / 2 ) + 433px);background:''}

.group-1-15899{
position:absolute ;width: 617.0px; height: 823.0px;  background-color: rgba(0,0,0,0.0);top:41px; left: 1px;background:''}

.group-1-15900{
position:absolute ;width: 617.0px; height: 823.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.10000000149011612);border-style:solid;background:''}

.group-1-15901{
position:absolute ;width: 610.93115234375px; height: 36.0px;  background-color: rgba(0,0,0,0.0);top:52px; left: 0px;background:''}

.vector-1-15902{
position: absolute;left: 0.0px; top: 0.0px; width: 610.93115234375px; height: 36.0}

.vector-1-15917{
position: absolute;left: 7.0px; top: 14.0px; width: 604.0px; height: 38.0}

.group-1-15926{
position:absolute ;width: 391.0px; height: 896.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 616px;background:''}

.img-1-15927{
position: absolute;left: 0.0px; top: 0.0px; width: 382.0px; height: 896.0px;}

.group-1-15928{
position:absolute ;width: 389.0px; height: 40.0px;  background-color: '';top:0px; left: 2px;border-color:rgba(0, 0, 0, 0.10000000149011612);border-style:solid;background:''}

.vector-1-15929{
position: absolute;left: 346.0px; top: 3.0px; width: 34.0px; height: 30.0}

.vector-1-15933{
position: absolute;left: 324.0px; top: 10.0px; width: 16.05816650390625px; height: 16.0}

.group-1-15935{
position:absolute ;width: 143.0px; height: 143.0px;  background-color: rgba(0,0,0,0.0);top:26px; left: 10px;background:''}

.group-1-15936{
position:absolute ;width: 58.0px; height: 58.0px;  background-color: rgba(143,161,224,1.0);top:42px; left: 43px;border-radius: 50%;background:''}

.group-1-15937{
position:absolute ;width: 7.0px; height: 7.0px;  background-color: rgba(31,74,140,0.7699999809265137);top:68px; left: 68px;border-radius: 50%;background:''}

.vector-1-15938{
position: absolute;left: 676.6279296875px; top: 13.0px; width: 16.0px; height: 16.0}

.vector-1-15940{
position: absolute;left: 634.0px; top: 13.0px; width: 16.0px; height: 16.0}

.group-1-15942{
position:absolute ;width: 618.0px; height: 40.0px;  background-color: '';top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.10000000149011612);border-style:solid;background:''}

.group-1-15943{
position:absolute ;width: 616.0px; height: 31.0px;  background-color: '';top:864px; left: 1px;background:''}

.text-1-15944{
position: absolute;
left: 88.0px;
 top: 16.0px;
 width: 107.0px;
 height: 10.0px;
font-size: 10.0px; color: rgba(20, 26, 33, 1.0); font-family: Poppins; font-weight: 500;
}

.group-1-15945{
position:absolute ;width: 96.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:5px; left: 438px;background:''}

.group-1-15946{
position:absolute ;width: 96.0px; height: 30.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;background:''}

.group-1-15947{
position:absolute ;width: 74.0px; height: 13.478271484375px;  background-color: rgba(0,0,0,0.0);top:9px; left: 10px;background:''}

.group-1-15948{
position:absolute ;width: 54.0px; height: 10.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 20px;background:''}

.text-1-15949{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 54.0px;
 height: 10.0px;
font-size: 12.0px; color: rgba(20, 26, 33, 1.0); font-family: Poppins; font-weight: 400;
}

.checkbox-1-15950{
position: absolute;left: 0.0px; top: 0.0px; width: 14.761886596679688px; height: 13.478271484375px;}

.group-1-15953{
position:absolute ;width: 30.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:6px; left: 541px;background:''}

.group-1-15954{
position:absolute ;width: 30.0px; height: 30.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 0.8199999928474426px;background:''}

.vector-1-15955{
position: absolute;left: 8.275863647460938px; top: 10.3448486328125px; width: 13.448272705078125px; height: 10.3448486328125}

.vector-1-15956{
position: absolute;left: 578.0px; top: 6.0px; width: 34.0px; height: 30.0}

.group-1-15960{
position:absolute ;width: 74.0px; height: 20.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 9px;background:''}

.vector-1-15961{
position: absolute;left: 0.0px; top: 0.0px; width: 20.0px; height: 20.0}

.text-1-15965{
position: absolute;
left: 27.0px;
 top: 5.0px;
 width: 47.0px;
 height: 10.0px;
font-size: 13.0px; color: rgba(20, 26, 33, 1.0); font-family: Poppins; font-weight: 500;
}