<div class="authenticationloginscout-1-1006" name="Authentication@Login Scout">
 <div class="group-1-1007" name="Group">
  <div class="group-1-1008" name="Group">
   <img class="vector-1-1009" src="assets/images/Authentication/login-scout/vector-1_1009.svg"/>
  </div>
  <div class="group-1-14946" name="Group">
   <img class="img-1-14947" src="assets/images/Authentication/login-scout/img-1_14947.png"/>
   <div class="group-1-14948" name="Group">
    <div class="group-1-14949" name="Group">
    </div>
    <div class="group-1-14950" name="Group">
     <label class="text-1-14951" type="text" value="Login">
      Login
     </label>
     <img class="vector-1-14952" src="assets/images/Authentication/login-scout/vector-1_14952.svg"/>
    </div>
    <div class="group-1-14956" name="Group">
     <label class="text-1-14957" type="text" value="Remember me">
      Remember me
     </label>
     <div class="checkbox-1-14958">
      <lib-quick-toggle [config]="toggleconfig114958">
      </lib-quick-toggle>
     </div>
     <label class="text-1-14962" type="text" value="Forgot Password?">
      Forgot Password?
     </label>
     <button class="btn-1-14963" type="button">
      <img class="vector-1-14966" src="assets/images/Authentication/login-scout/vector-1_14966.svg"/>
      Sign in with microsoft
     </button>
     <button class="btn-1-14967" type="button">
      Sign in
     </button>
     <input class="text-1-14970" placeholder="Password" type="text"/>
     <input class="text-1-14975" placeholder="Username" type="text"/>
    </div>
   </div>
  </div>
  <label class="text-1-14980" type="text" value="Don't have an account? Register">
   Don't have an account? Register
  </label>
 </div>
 <img class="vector-1-14981" src="assets/images/Authentication/login-scout/vector-1_14981.svg"/>
</div>
