

.authenticationloginscout-1-1006{
position:'' ;width: 100%; height: auto;  background-color: rgba(255,255,255,1.0);top:0px; left: 0;background:''}

.group-1-1007{
position:absolute ;width: 1449.056640625px; height: 1026.0px;  background-color: rgba(0,0,0,0.0);top:3px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-1-1008{
position:absolute ;width: 1449.056640625px; height: 1026.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.vector-1-1009{
position: absolute;left: 0.0px; top: 0.0px; width: 1449.056640625px; height: 1026.0}

.group-1-14946{
position:absolute ;width: 1324.3585205078125px; height: 990.0617065429688px;  background-color: rgba(0,0,0,0.0);top:29px; left: 103px;background:''}

.img-1-14947{
position: absolute;left: 543.0px; top: 0.0px; width: 781.0px; height: 990.0617065429688px;}

.group-1-14948{
position:absolute ;width: 537.837890625px; height: 470.68505859375px;  background-color: rgba(0,0,0,0.0);top:256px; left: 0px;background:''}

.group-1-14949{
position:absolute ;width: 537.837890625px; height: 470.68505859375px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 10.0px;box-shadow: 0.0px 8.0px 53.0px rgba(234, 255, 251, 1.0);background:''}

.group-1-14950{
position:absolute ;width: 77.001708984375px; height: 115.04254150390625px;  background-color: rgba(0,0,0,0.0);top:25px; left: 232px;background:''}

.text-1-14951{
position: absolute;
left: 13.17626953125px;
 top: 89.00006103515625px;
 width: 49.30810546875px;
 height: 26.0px;
font-size: 16.0px; color: rgba(0, 184, 149, 1.0); font-family: Poppins; font-weight: 400;
}

.vector-1-14952{
position: absolute;left: 0.911865234375px; top: -0.04248046875px; width: 77.001708984375px; height: 75.9561767578125}

.group-1-14956{
position:absolute ;width: 381.48388671875px; height: 265.331787109375px;  background-color: rgba(0,0,0,0.0);top:146px; left: 80px;background:''}

.text-1-14957{
position: absolute;
left: 283.6220703125px;
 top: 120.6878662109375px;
 width: 79.916259765625px;
 height: 16.817291259765625px;
font-size: 10.0px; color: rgba(46, 79, 139, 1.0); font-family: Poppins; font-weight: 400;
}

.checkbox-1-14958{
position: absolute;left: 248.594482421875px; top: 121.450927734375px; width: 25.27001953125px; height: 10.2640380859375px;}

.text-1-14962{
position: absolute;
left: 6.813720703125px;
 top: 120.18902587890625px;
 width: 94.665283203125px;
 height: 17.666473388671875px;
font-size: 10.0px; color: rgba(46, 79, 139, 1.0); font-family: Poppins; font-weight: 400;
}

.vector-1-14966{
position: relative; width: 17.0px; height: 19.0}

.btn-1-14963{
position: absolute;
left: 0.861572265625px;
 top: 221.0px;
 width: 381.46630859375px;
 height: 44.1453857421875px;
border-radius: 2.0px; background-color: rgba(46, 79, 139, 1.0);
 cursor: pointer;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Hind Siliguri; text-transform: uppercase; font-weight: 500;
}

.btn-1-14967{
position: absolute;
left: 0.879150390625px;
 top: 169.31787109375px;
 width: 381.46630859375px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(0, 184, 149, 1.0);
 cursor: pointer;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Hind Siliguri; text-transform: uppercase; font-weight: 500;
}

.text-1-14970{
position: absolute;
left: 0.879150390625px;
 top: 88.90066528320312px;
 width: 369.706298828125px;
 height: 30px;
border-top-style: hidden;border-right-style: hidden;border-left-style: hidden;}

.text-1-14975{
position: absolute;
left: 0.879150390625px;
 top: 28.8370361328125px;
 width: 369.706298828125px;
 height: 30px;
border-top-style: hidden;border-right-style: hidden;border-left-style: hidden;}

.text-1-14980{
position: absolute;
left: 287.798828125px;
 top: 712.0px;
 width: 168.05029296875px;
 height: 17.0px;
font-size: 10.0px; color: rgba(46, 79, 139, 1.0); font-family: Poppins; font-weight: 400;
}

.vector-1-14981{
position: absolute;left: 82.0px; top: 62.0px; width: 158.0px; height: 49.0}