<div class="authenticationloginwinnnow-1-194" name="Authentication@Login winnnow">
 <div class="group-1-195" name="Group">
  <img class="img-1-196" src="assets/images/Authentication/login-winnnow/img-1_196.png"/>
  <div class="group-1-197" name="Group">
  </div>
  <div class="group-1-198" name="Group">
   <div class="group-1-199" name="Group">
    <div class="group-1-200" name="Group">
    </div>
    <label class="text-1-201" type="text" value="We developed Winnow to empower recruiters. 
Our AI platform helps you efficiently navigate so that you can focus on what you do best: recruiting.

">
     We developed Winnow to empower recruiters. 
Our AI platform helps you efficiently navigate so that you can focus on what you do best: recruiting.
    </label>
   </div>
   <div class="group-1-202" name="Group">
    <label class="text-1-203" type="text" value="Welcome To Winnow">
     Welcome To Winnow
    </label>
    <img class="vector-1-204" src="assets/images/Authentication/login-winnnow/vector-1_204.svg"/>
    <label class="text-1-205" type="text" value="AI Based Tool for Hiring Practitioners">
     AI Based Tool for Hiring Practitioners
    </label>
   </div>
  </div>
 </div>
 <img class="vector-1-233" src="assets/images/Authentication/login-winnnow/vector-1_233.svg"/>
 <div class="group-1-206" name="Group">
  <div class="group-1-207" name="Group">
  </div>
  <div class="group-1-208" name="Group">
   <div class="group-1-209" name="Group">
    <div class="group-1-210" name="Group">
     <label class="text-1-211" type="text" value="Forgot Password?">
      Forgot Password?
     </label>
     <div class="group-1-212" name="Group">
      <label class="text-1-213" type="text" value="Remember me">
       Remember me
      </label>
      <div class="checkbox-1-214">
       <lib-quick-toggle [config]="toggleconfig1214">
       </lib-quick-toggle>
      </div>
     </div>
    </div>
    <button class="btn-1-218" type="button">
     Sign in
    </button>
    <input class="text-1-221" placeholder="Password" type="text"/>
    <input class="text-1-225" placeholder="Username" type="text"/>
   </div>
   <label class="text-1-229" type="text" value="Sign in">
    Sign in
   </label>
   <img class="vector-1-230" src="assets/images/Authentication/login-winnnow/vector-1_230.svg"/>
  </div>
 </div>
</div>
