<div class="modulessavedschedule-1-651" name="Modules@Saved Schedule">
 <div class="group-1-652" name="Group">
  <div class="group-1-653" name="Group">
  </div>
  <div class="group-1-654" name="Group">
   <div class="group-1-655" name="Group">
   </div>
   <div class="group-1-656" name="Group">
    <div class="group-1-657" name="Group">
    </div>
    <div class="group-1-658" name="Group">
     <div class="group-1-659" name="Group">
      <label class="text-1-660" type="text" value="transition scale">
       transition scale
      </label>
      <label class="text-1-661" type="text" value="3">
       3
      </label>
     </div>
     <div class="group-1-662" name="Group">
      <label class="text-1-663" type="text" value="Min shift duration">
       Min shift duration
      </label>
      <div class="group-1-664" name="Group">
       <label class="text-1-665" type="text" value="5">
        5
       </label>
       <label class="text-1-666" type="text" value="hrs">
        hrs
       </label>
      </div>
      <img class="vector-1-667" src="assets/images/Modules/saved-schedule/vector-1_667.svg"/>
     </div>
     <div class="group-1-668" name="Group">
      <label class="text-1-669" type="text" value="Max shift duration">
       Max shift duration
      </label>
      <div class="group-1-670" name="Group">
       <label class="text-1-671" type="text" value="10">
        10
       </label>
       <label class="text-1-672" type="text" value="hrs">
        hrs
       </label>
      </div>
      <img class="vector-1-673" src="assets/images/Modules/saved-schedule/vector-1_673.svg"/>
     </div>
     <div class="group-1-674" name="Group">
      <label class="text-1-675" type="text" value="Latest start time">
       Latest start time
      </label>
      <div class="group-1-676" name="Group">
       <label class="text-1-677" type="text" value="2">
        2
       </label>
       <label class="text-1-678" type="text" value="PM">
        PM
       </label>
      </div>
      <img class="vector-1-679" src="assets/images/Modules/saved-schedule/vector-1_679.svg"/>
     </div>
     <div class="group-1-680" name="Group">
      <label class="text-1-681" type="text" value="ratio scale">
       ratio scale
      </label>
      <label class="text-1-682" type="text" value="1">
       1
      </label>
      <img class="vector-1-683" src="assets/images/Modules/saved-schedule/vector-1_683.svg"/>
     </div>
    </div>
   </div>
  </div>
  <div class="group-1-684" name="Group">
  </div>
  <div class="group-1-685" name="Group">
   <img class="vector-1-686" src="assets/images/Modules/saved-schedule/vector-1_686.svg"/>
   <label class="text-1-691" type="text" value="Lion’s Gate Hospital: 921409198-87907">
    Lion’s Gate Hospital: 921409198-87907
   </label>
  </div>
  <div class="group-1-692" name="Group">
   <img class="vector-1-693" src="assets/images/Modules/saved-schedule/vector-1_693.svg"/>
  </div>
  <div class="group-1-694" name="Group">
   <table class="table-1-695">
    <tr>
     <th class="th-1-697">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/2806ee37-5f8a-41a9-b07d-acc0b8d6824f"/>
     </th>
     <th class="th-1-697">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/6600b5d7-bb60-4450-b49d-1e5edf93b678"/>
     </th>
     <th class="th-1-697">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/1d9582e7-f970-475d-816e-0e5a8b95e49c"/>
     </th>
     <th class="th-1-697">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/783a2d2e-0612-4a47-a79d-d79240620fc2"/>
     </th>
     <th class="th-1-697">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/d76f96ad-6d46-4f74-800b-f8547bd4d380"/>
     </th>
     <th class="th-1-697">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/9d7d67d1-09fa-406c-acbf-7080c1ee2acf"/>
     </th>
     <th class="th-1-697">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/e1bf805b-777a-46f4-9453-977b3b9847d8"/>
     </th>
     <th class="th-1-697">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/1874299e-b34c-4bc7-89d6-5dca22542e58"/>
     </th>
     <th class="th-1-697">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/d0189ae7-70cb-45e6-9300-3d633037f3cc"/>
     </th>
     <th class="th-1-697">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/dbfb205d-810f-4713-92ec-d4893c5e4fad"/>
     </th>
     <th class="th-1-697">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/80fbbfd4-7899-4ec8-b067-6588fca4fece"/>
     </th>
     <th class="th-1-697">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/94425911-78c3-4bfb-b516-9aaabb84e4b1"/>
     </th>
    </tr>
    <tr>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/a30a07c0-e613-42cb-aa52-c7756db5484d"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/f0a5354e-2bbf-4bf9-a665-159453b674ef"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/bb41e63c-9039-45b7-9078-a2dcdc515fd7"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/7fa94335-03ff-4820-8cde-fa21d3abb3a3"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/d9991689-3b78-4373-b0ee-aa16d4f38540"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/fcdfd3fa-709c-470d-9adf-8a394672aa9f"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/51da32c5-31d1-4ce3-861a-6c7a234dda40"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/16691ac2-0748-47aa-9053-a3327f5d1f01"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/5643552d-b178-461d-8659-f9a822ffb663"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/c3adcbc0-efbd-4bde-a42d-a7967a7e14bb"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/542d8d34-dc9a-446b-a20d-a2f4eca7767d"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/d6604c10-4244-4cc6-ac99-2890262baa3b"/>
     </td>
    </tr>
    <tr>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/299c308a-77e4-43a6-b150-1250fa202c27"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/8b16b3fc-0eae-4029-83d8-8d0ba9ffb810"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/f2e553d6-140d-4a13-ada9-6f2a218aa2eb"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/7556642e-ffe5-4d9c-bce0-d1bf284b0fd2"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/8b8652d9-0423-48d8-bf7f-f6de92356160"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/fd2d1a27-7596-48a6-82cf-34c63f408c8f"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/7387e842-bdc7-41b5-a921-4543c9ab06fc"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/866c402a-d235-4cb6-be5b-b61bc3825e5b"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/7c70522b-6c50-4cef-be18-de5c25efd03e"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/566cb1de-ba38-4bd4-ba7e-29e8138c5105"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/98436039-4c97-4f4c-afd8-bb6ece8faa84"/>
     </td>
     <td class="td-1-746">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/01893907-fd54-4623-b704-e9fb0d1f0ad7"/>
     </td>
    </tr>
   </table>
  </div>
 </div>
 <button class="btn-1-955" type="button">
  <img class="vector-1-958" src="assets/images/Modules/saved-schedule/vector-1_958.svg"/>
  download
 </button>
 <button class="btn-1-961" type="button">
  <img class="vector-1-964" src="assets/images/Modules/saved-schedule/vector-1_964.svg"/>
  print
 </button>
 <div class="group-1-967" name="Group">
  <label class="text-1-968" type="text" value="Saved Schedule">
   Saved Schedule
  </label>
  <label class="text-1-969" type="text" value="Review schedule details.
Click on schedule number to expand.">
   Review schedule details.
Click on schedule number to expand.
  </label>
  <img class="vector-1-970" src="assets/images/Modules/saved-schedule/vector-1_970.svg"/>
 </div>
 <div class="group-1-971" name="Group">
  <div class="group-1-972" name="Group">
  </div>
  <img class="vector-1-973" src="assets/images/Modules/saved-schedule/vector-1_973.svg"/>
  <button class="btn-1-998" type="button">
   create new schedule
  </button>
  <div class="group-1-1001" name="Group">
   <img class="vector-1-1002" src="assets/images/Modules/saved-schedule/vector-1_1002.svg"/>
  </div>
  <img class="vector-1-1005" src="assets/images/Modules/saved-schedule/vector-1_1005.svg"/>
 </div>
</div>
