

.modulessavedschedule-1-651{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-1-652{
position:absolute ;width: 1375.0px; height: 723.0px;  background-color: rgba(0,0,0,0.0);top:228px; left: calc( ( ( 100% - 1440px) / 2 ) + 42px);background:''}

.group-1-653{
position:absolute ;width: 1373.0px; height: 723.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.group-1-654{
position:absolute ;width: 1307.0px; height: 86.0px;  background-color: rgba(0,0,0,0.0);top:64px; left: 34px;background:''}

.group-1-655{
position:absolute ;width: 1307.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-1-656{
position:absolute ;width: 1173.0447998046875px; height: 86.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 76px;border-radius: 5.0px;background:''}

.group-1-657{
position:absolute ;width: 79.09027099609375px; height: 44.0px;  background-color: '';top:36px; left: 36px;border-radius: 5.0px;background:''}

.group-1-658{
position:absolute ;width: 1173.0447998046875px; height: 86.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-659{
position:absolute ;width: 122.04461669921875px; height: 69.8790283203125px;  background-color: rgba(0,0,0,0.0);top:17px; left: 0px;background:''}

.text-1-660{
position: absolute;
left: 0.0001220703125px;
 top: -0.9290771484375px;
 width: 122.04461669921875px;
 height: 15.20355224609375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-1-661{
position: absolute;
left: 49.9998779296875px;
 top: 19.949951171875px;
 width: 22.0px;
 height: 49.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.group-1-662{
position:absolute ;width: 217.666015625px; height: 86.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 182px;background:''}

.text-1-663{
position: absolute;
left: 81.999755859375px;
 top: 16.04931640625px;
 width: 135.04461669921875px;
 height: 15.22528076171875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-664{
position:absolute ;width: 43.004150390625px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:37px; left: 128px;background:''}

.text-1-665{
position: absolute;
left: 0.000244140625px;
 top: 0.0px;
 width: 22.0px;
 height: 49.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.text-1-666{
position: absolute;
left: 24.00390625px;
 top: 18.0px;
 width: 19.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 300;
}

.vector-1-667{
position: absolute;left: 0.62164306640625px; top: 0.0px; width: 1.0px; height: 84.0}

.group-1-668{
position:absolute ;width: 217.45559692382812px; height: 85.95001220703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 470px;background:''}

.text-1-669{
position: absolute;
left: 77.999755859375px;
 top: 16.042724609375px;
 width: 139.04458618164062px;
 height: 15.23193359375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-670{
position:absolute ;width: 59.96661376953125px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:37px; left: 117px;background:''}

.text-1-671{
position: absolute;
left: 0.000244140625px;
 top: -0.04998779296875px;
 width: 40.0px;
 height: 49.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.text-1-672{
position: absolute;
left: 40.96636962890625px;
 top: 18.00006103515625px;
 width: 19.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 300;
}

.vector-1-673{
position: absolute;left: 0.4112548828125px; top: 0.0px; width: 1.0px; height: 84.0}

.group-1-674{
position:absolute ;width: 204.62921142578125px; height: 85.949951171875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 749px;background:''}

.text-1-675{
position: absolute;
left: 80.99993896484375px;
 top: 16.0692138671875px;
 width: 123.044677734375px;
 height: 15.2049560546875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-676{
position:absolute ;width: 44.0px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:37px; left: 121px;background:''}

.text-1-677{
position: absolute;
left: 6.103515625e-05px;
 top: -0.050048828125px;
 width: 22.0px;
 height: 49.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.text-1-678{
position: absolute;
left: 23.99993896484375px;
 top: 18.00006103515625px;
 width: 20.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 300;
}

.vector-1-679{
position: absolute;left: 0.5845947265625px; top: 0.0px; width: 1.0px; height: 84.0}

.group-1-680{
position:absolute ;width: 147.1431884765625px; height: 85.949951171875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1026px;background:''}

.text-1-681{
position: absolute;
left: 62.99993896484375px;
 top: 16.1343994140625px;
 width: 84.04473114013672px;
 height: 15.13995361328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-1-682{
position: absolute;
left: 97.99993896484375px;
 top: 36.949951171875px;
 width: 15.0px;
 height: 49.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.vector-1-683{
position: absolute;left: 0.0985107421875px; top: 0.0px; width: 1.0000076293945312px; height: 84.0}

.group-1-684{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-1-685{
position:absolute ;width: 380.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.vector-1-686{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.text-1-691{
position: absolute;
left: 41.0px;
 top: 4.0px;
 width: 339.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-692{
position:absolute ;width: 20.0px; height: 20.0px;  background-color: rgba(0,0,0,0.0);top:12px; left: 1340px;background:''}

.vector-1-693{
position: absolute;left: 0.0px; top: 0.0px; width: 20.0px; height: 20.0}

.group-1-694{
position:absolute ;width: 1369.0px; height: 197.0px;  background-color: rgba(0,0,0,0.0);top:224px; left: 6px;background:''}

.table-1-695{
position: absolute;left: 0.0px; top: 0.0px; width: 1369.0px;}

.th-1-697{
position: realtive;text-align: left;width: 132.2735595703125px; height: 42.0px;}

.td-1-746{
position: realtive;text-align: left;width: 132.0809326171875px;}

.vector-1-958{
position: relative; width: 16.0px; height: 16.0}

.btn-1-955{
position: absolute;
left: 1084.0px;
 top: 106.0px;
 width: 123.0px;
 height: 35.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.vector-1-964{
position: relative; width: 15.0px; height: 15.0}

.btn-1-961{
position: absolute;
left: 1253.0px;
 top: 103.0px;
 width: 85.0px;
 height: 36.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy; text-transform: uppercase; font-weight: 700;
}

.group-1-967{
position:absolute ;width: 582.0px; height: 46.0px;  background-color: rgba(0,0,0,0.0);top:111px; left: calc( ( ( 100% - 1440px) / 2 ) + 47px);background:''}

.text-1-968{
position: absolute;
left: 0.0px;
 top: 9.0px;
 width: 223.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy; font-weight: 600;
}

.text-1-969{
position: absolute;
left: 297.0px;
 top: 6.0px;
 width: 285.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy; font-weight: 400;
}

.vector-1-970{
position: absolute;left: 261.0px; top: 0.0px; width: 1.0px; height: 46.0}

.group-1-971{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-1-972{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-1-973{
position: absolute;left: 22.0px; top: 24.0px; width: 155.537841796875px; height: 33.975830078125}

.btn-1-998{
position: absolute;
left: 229.0px;
 top: 18.0px;
 width: 200.0px;
 height: 35.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-1-1001{
position:absolute ;width: 26.666664123535156px; height: 26.66668701171875px;  background-color: rgba(0,0,0,0.0);top:25px; left: 1375px;background:''}

.vector-1-1002{
position: absolute;left: 0.6666259765625px; top: -0.3333740234375px; width: 26.666664123535156px; height: 26.66668701171875}

.vector-1-1005{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}